<header class="header-bg relative p-4 shadow-lg overflow-hidden flex items-center justify-center">

  <div class="absolute inset-0 bg-black bg-opacity-40"></div>

  <div
    class="absolute top-4 left-4 bg-black bg-opacity-20 text-white rounded-full px-4 py-2 flex items-center text-xs gap-2">
    <span class="w-2 h-2 rounded-full bg-green-500"></span>
    <span>{{ user()?.username }}</span>
  </div>

  @if (user()?.guild; as guild) {
    <div class="flex flex-col items-center">
      <h1 class="relative text-[2rem] text-[#ffc107] text-shadow">
        Guilds Boune
      </h1>
      <h2 class="relative text-[3rem] font-bold text-white text-shadow">
        {{ guild.name }}
      </h2>
    </div>

  } @else {
    <h1 class="relative text-[4rem] text-[#ffc107]">
      Guilds Boune
    </h1>
  }

  <p-button icon="pi pi-sign-out" text severity="secondary" (click)="logout()"
            styleClass="!absolute bottom-4 right-4"/>

</header>
