<header class="header-bg relative flex items-center justify-center shadow-lg overflow-hidden">
  <h1 class="text-white text-4xl font-bold shadow-md px-5 py-3 bg-black bg-opacity-60 rounded-full">
    Guilds Retro
  </h1>
  <div class="absolute bottom-0 left-0 m-4 p-3 bg-black bg-opacity-60 rounded-lg shadow">
    <div class="text-white text-xl font-bold">
      <span>{{ user.username }}</span> |
      <span class="text-sm font-medium">{{ user.characterClass }}</span> |
      <span class="text-sm font-medium">{{ user.role }}</span>
    </div>
    <div class="text-white text-md mt-1">
      <i class="fas fa-users"></i> Guilde: <span class="font-semibold">{{ guild.name }}</span>
    </div>
  </div>
  <button (click)="logout()"
          class="absolute bottom-0 right-0 m-4 p-2 bg-red-600 hover:bg-red-700 text-white font-bold rounded shadow"
          mat-raised-button>
    Déconnexion
  </button>
</header>
