<app-page-block title="Questionnaire, en 1 mot !" class="flex-1">
  <ng-container header-action>
    <p-button icon="pi pi-pencil" severity="secondary" label="Modifier" text rounded (click)="onEdit()"/>
  </ng-container>

  <ng-container content>
    <form (ngSubmit)="onSubmit()" [formGroup]="questionnaireForm">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex items-center gap-2">
          <div class="text-gray-400">Âge</div>
          @if (isEditable) {
            <input pInputText formControlName="age" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.age }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Prénom</div>
          @if (isEditable) {
            <input pInputText formControlName="firstName" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.firstName }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Pizza préférée</div>
          @if (isEditable) {
            <input pInputText formControlName="favoritePizza" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoritePizza }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Dessert préféré</div>
          @if (isEditable) {
            <input pInputText formControlName="favoriteDessert" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoriteDessert }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Saveur de glace préférée</div>
          @if (isEditable) {
            <input pInputText formControlName="favoriteIceCreamFlavor" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoriteIceCreamFlavor }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Saison préférée</div>
          @if (isEditable) {
            <input pInputText formControlName="favoriteSeason" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoriteSeason }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Dofus préféré</div>
          @if (isEditable) {
            <input pInputText formControlName="favoriteDofus" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoriteDofus }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Zone préférée</div>
          @if (isEditable) {
            <input pInputText formControlName="favoriteZone" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoriteZone }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Pourquoi Dofus Retro</div>
          @if (isEditable) {
            <input pInputText formControlName="reasonForRetro" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.reasonForRetro }}</div>
          }
        </div>

        <div class="flex items-center gap-2">
          <div class="text-gray-400">Familier préféré</div>
          @if (isEditable) {
            <input pInputText formControlName="favoriteFamiliar" variant="filled"/>
          } @else {
            <div>{{ questionnaire?.favoriteFamiliar }}</div>
          }
        </div>
      </div>

      <div class="flex flex-col gap-4 mt-4">
        @if (alertMessage) {
          <app-alert [message]="alertMessage" type="info"/>
        }
        @if (isEditable) {
          <div class="flex items-center justify-end gap-4">
            <p-button label="Annuler" icon="pi pi-times" type="button" severity="warning" (click)="onCancel()" rounded
                      text outlined/>
            <p-button label="Enregistrer" icon="pi pi-check" type="submit" severity="primary" rounded/>
          </div>
        }
      </div>


    </form>
  </ng-container>
</app-page-block>
