<div (scroll)="onScroll($event)"
     class="p-4 lg:px-10 lg:pt-10 w-full flex max-w-[60rem] m-auto
     flex-col gap-6 h-full overflow-y-auto no-scrollbar">

  <app-page-block title="Fil d'actualité">
    <ng-container header-action>
      @if (feedClosingToGuildAndAllies()) {
        <p-button
          label="Fil d'actualité fermé à sa guilde et alliés"
          icon="pi pi-lock"
          severity="warning"
          text
          rounded
          (onClick)="toggleFeedClosingToGuildAndAllies(false)"
        />
      } @else {
        <p-button
          label="Fil d'actualité ouvert à tous"
          icon="pi pi-lock-open"
          severity="primary"
          text
          rounded
          (onClick)="toggleFeedClosingToGuildAndAllies(true)"
        />
      }
    </ng-container>

    <ng-container content>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <div class="w-12 h-12 rounded-full flex items-center justify-center">
            <img [src]="currentUser | characterIcon" alt="Avatar"
                 class="object-cover no-select no-copy">
          </div>
        </div>
        <div class="flex-grow ml-4">
          <div class="w-full">
            <input (click)="openCreatePostModal()"
                   class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
                   pInputText
                   placeholder="Que veux-tu dire ?"
                   readonly>
          </div>
        </div>
      </div>
    </ng-container>
  </app-page-block>

  <div class="flex flex-col gap-4 mb-10">
    @for (item of feed(); track item.id) {
      @if (item.post) {
        <app-feed-post [@fadeIn] [currentUser]="currentUser" [post]="item.post"/>
      } @else if (item.event) {
        <app-feed-event [@fadeIn] [currentUser]="currentUser" [event]="item.event"/>
      }
    } @empty {
      <div class="text-center text-gray-400">
        Aucune publication
      </div>
    }
    @if (isLoading) {
      <div class="flex justify-center">
        <p-progressSpinner strokeWidth="5"/>
      </div>
    }
  </div>

</div>
