<div class="w-full h-full flex flex-col gap-6">

  <h2 class="text-2xl font-bold">Fil d'actualité</h2>

  <mat-slide-toggle
    (change)="toggleFeedClosingToGuildAndAllies($event.checked)"
    [checked]="feedClosingToGuildAndAllies$()"
    color="primary">
    Fermer son fil d'actualité au gens de sa guilde et des guilde alliées
  </mat-slide-toggle>

  <div class="flex items-center">
    <div class="flex-shrink-0">
      <div class="w-12 h-12 rounded-full  flex items-center justify-center">
        <img [src]="currentUser | characterIcon" alt="Avatar"
             class="object-cover no-select no-copy">
      </div>
    </div>
    <div class="flex-grow ml-4">
      <div class="w-full">
        <input (click)="openCreatePostModal()"
               class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
               placeholder="Que veux-tu dire ?"
               readonly>
      </div>
    </div>
  </div>

  @for (item of feed$(); track item.id) {
    <div class="flex flex-col gap-4">
      @if (isPostFeedDto(item)) {
        <app-feed-post [currentUser]="currentUser" [post]="item"/>
      } @else if (isEventFeedDto(item)) {
        <app-feed-event [currentUser]="currentUser" [event]="item"/>
      }
    </div>
  } @empty {
    <div class="text-center text-gray-400">
      Aucune publication
    </div>
  }
</div>
