<header class="bg-gray-800 text-white p-4 relative">
  <h1 class="text-center text-3xl font-bold">Conditions Générales d'Utilisation</h1>
  <p class="text-center text-sm mt-2">Guilds Boune</p>

  <button (click)="goBack()" class="absolute top-4 right-4 text-gray-400 hover:text-gray-600">
    <i class="pi pi-times" style="font-size: 1.5rem"></i>
  </button>
</header>

<main class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg my-8 flex flex-col gap-8">
  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">1. Présentation des CGU</h2>
    <p class="text-gray-700">
      1.1 Guilds Boune est un fan-site accessible à l’adresse <a href="https://www.guildsboune.fr"
                                                                 class="text-blue-600 hover:underline">https://www.guildsboune.fr</a>
      dédié à l’univers du jeu DOFUS, propriété de la société Ankama Games. Guilds Boune est un
      réseau social destiné aux joueurs du serveur Boune, membres d’une guilde, offrant des services d’interaction et
      d’organisation d'événements.
    </p>
    <p class="text-gray-700">
      1.2 L'utilisation du Site est régie par les présentes conditions générales d'utilisation (les « CGU »), lesquelles
      déterminent le cadre contractuel des relations entre l'utilisateur du Service (ci-après « vous ») et Guilds Boune.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">2. Acceptation des CGU</h2>
    <p class="text-gray-700">
      2.1 En accédant au Site, vous acceptez de respecter les termes des présentes CGU sans réserve.
    </p>
    <p class="text-gray-700">
      2.2 Toute utilisation non conforme aux CGU est strictement interdite.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">3. Accès et utilisation du Service</h2>
    <p class="text-gray-700">
      3.1 L'accès au Site nécessite une connexion Internet, dont les coûts sont à votre charge. Guilds Boune n'est pas
      responsable de la qualité de votre connexion.
    </p>
    <p class="text-gray-700">
      3.2 Guilds Boune vous accorde une licence limitée, non exclusive et non transférable pour l'utilisation du contenu
      du Site, sous réserve du respect des CGU.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">4. Création de Compte</h2>
    <p class="text-gray-700">
      Pour créer un Compte sur Guilds Boune, vous devez fournir le nom exact de votre personnage Dofus sur le serveur
      Boune. Ce nom est nécessaire pour accéder aux fonctionnalités du Site et garantir une identification correcte
      parmi les autres joueurs.
    </p>
    <p class="text-gray-700">
      4.2 Le nom de Compte et le mot de passe sont strictement personnels. Vous vous engagez à les protéger et à ne pas
      les partager avec des tiers.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">5. Règles de Conduite</h2>
    <p class="text-gray-700">
      5.1 En tant qu'utilisateur de Guilds Boune, vous vous engagez à respecter les autres membres et à éviter tout
      comportement injurieux, discriminatoire, ou contraire aux lois françaises.
    </p>
    <p class="text-gray-700">
      5.2 Les propos à caractère vulgaire, offensant, ou à connotation sexuelle sont interdits.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">6. Confidentialité des données</h2>
    <p class="text-gray-700">
      6.1 Guilds Boune s'engage à protéger la confidentialité de vos données personnelles. Les informations collectées
      sont utilisées uniquement pour le bon fonctionnement du Site et ne sont jamais partagées sans votre consentement.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">7. Limites de responsabilité</h2>
    <p class="text-gray-700">
      7.1 Guilds Boune n'est pas responsable des interactions entre les utilisateurs ni des éventuels conflits résultant
      de celles-ci.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">8. Propriété intellectuelle</h2>
    <p class="text-gray-700">
      8.1 Tous les éléments du Site (textes, images, code, logos) sont la propriété exclusive de Guilds Boune. Toute
      reproduction ou exploitation non autorisée est interdite.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">9. Durée et résiliation</h2>
    <p class="text-gray-700">
      9.1 Les CGU sont applicables pour une durée indéterminée dès votre inscription sur le Site.
    </p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800">10. Droit applicable et juridiction compétente</h2>
    <p class="text-gray-700">
      10.1 Les présentes CGU sont soumises à la loi française. En cas de litige, les parties tenteront de parvenir à un
      accord amiable avant de saisir les tribunaux du ressort du siège de Guilds Boune.
    </p>
  </section>
</main>
