<div [ngClass]="{ 'bg-slate-200': !notification.read }" class="text-base flex flex-col border-b border-gray-200 p-4">
  <div class="flex justify-between items-center">
    {{ notification.message }}

    @if (notification.type === NotificationTypeEnum.membership_request) {
      <div class="flex gap-1">

        <p-button icon="pi pi-check" rounded text
                  (click)="onAcceptMembershipRequest()"/>

        <p-button icon="pi pi-times" rounded text severity="danger"
                  (click)="onDeclineMembershipRequest()"/>

      </div>
    }

    @if (notification.type === NotificationTypeEnum.alliance_request) {
      <div class="flex gap-1">
        <p-button icon="pi pi-check" rounded text
                  (click)="onAcceptAllianceRequest()"/>

        <p-button icon="pi pi-times" rounded text severity="danger"
                  (click)="onDeclineAllianceRequest()"/>
      </div>
    }

    @if (notification.type === NotificationTypeEnum.link_account) {
      <div class="flex gap-1">
        <p-button icon="pi pi-check" rounded text
                  (click)="onAcceptAccountlinkRequest()"/>

        <p-button icon="pi pi-times" rounded text severity="danger"
                  (click)="onDeclineAccountlinkRequest()"/>
      </div>
    }

  </div>

  @if (notification.type === NotificationTypeEnum.comment) {
    <div class="text-xs text-gray-500 italic truncate">&#8220;{{ notification.comment?.text }}&#8221;</div>
  }

  @if (notification.type === NotificationTypeEnum.new_event || notification.type === NotificationTypeEnum.join_event) {
    <div class="text-xs text-gray-500 truncate">
      {{ notification.event?.arenaTargets || notification.event?.dungeonName || notification.event?.title }}
    </div>
  }

  <div class="flex justify-between items-center gap-2 mt-1">
    <div class="text-xs text-gray-500">{{ notification.createdAt | dateFormat }}</div>
    @if (notification.like || notification.comment) {
      <a [routerLink]="['/feed/post', notification.like ? notification.like.post.id : notification.comment?.post?.id]"
         class="text-xs text-secondary">Voir le post</a>
    }
    @if (notification.type === NotificationTypeEnum.new_event || notification.type === NotificationTypeEnum.join_event) {
      <a [routerLink]="['/events', notification.event?.id]" class="text-xs text-secondary">Voir l'événement</a>
    }
  </div>
</div>
