<div [ngClass]="{ 'bg-slate-200': !notification.read }" class="flex flex-col border-b border-gray-200 p-4">
  {{ notification.message }}
  @if (notification.accountLinkRequest) {
    <div class="flex gap-2">
      <button mat-button color="primary" (click)="onAcceptRequest()">
        Oui
      </button>
      <button mat-button color="warn" (click)="onDeclineRequest()">
        Non
      </button>
    </div>
  }

  <div class="text-xs text-gray-700">{{ notification.createdAt | dateFormat }}</div>
</div>
