<div [ngClass]="{ 'bg-slate-200': !notification.read }" class="flex flex-col border-b border-gray-200 p-4">
  <div class="flex justify-between items-center">
    {{ notification.message }}

    @if (notification.membershipRequest) {
      <div class="flex gap-2">

        <p-button icon="pi pi-check" rounded outlined
                  (click)="onAcceptMembershipRequest()"/>

        <p-button icon="pi pi-times" rounded outlined severity="danger"
                  (click)="onDeclineMembershipRequest()"/>

      </div>
    }

    @if (notification.accountLinkRequest) {
      <div class="flex gap-2">
        <p-button icon="pi pi-check" rounded outlined
                  (click)="onAcceptRequest()"/>

        <p-button icon="pi pi-check" rounded outlined severity="danger"
                  (click)="onDeclineRequest()"/>
      </div>
    }

  </div>

  <div class="text-xs text-gray-700">{{ notification.createdAt | dateFormat }}</div>
</div>
