@if (!isCurrentUser) {
  <button (click)="goBack()" class="text-gray-600 hover:text-gray-800">
    <mat-icon>arrow_back</mat-icon>
  </button>
}
@if (profileToUse(); as user) {
  <div class="flex flex-col gap-4">
    <div class="bg-white p-6 rounded-lg shadow-md relative overflow-hidden">
      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center">
          <div class="w-24 h-24 rounded-full bg-beige border border-gray-300 flex items-center justify-center">
            <img [src]="user | characterIcon" alt="Avatar"
                 class="w-20 h-20 rounded-full object-cover no-select no-copy"/>
          </div>
          <div class="ml-6">
            <h1 class="text-2xl font-bold text-gray-800">{{ user.username }}</h1>
            <div class="text-lg text-gray-600">{{ user.characterClass }} - Niveau {{ user.characterLevel }}</div>
            @if (user.guild) {
              <div class="text-md text-gray-500 mt-2">Membre de <span
                class="font-semibold">{{ user.guild.name }}</span></div>
            }
          </div>
        </div>

        @if (isCurrentUser) {
          <mat-slide-toggle
            [checked]="user.showInRegistry"
            (change)="onUpdateShowInRegistry($event.checked)">
            Apparaître dans le registre
          </mat-slide-toggle>
        }
      </div>

      @if (user.guild?.logo) {
        <div class="absolute inset-0 right-0 flex justify-end items-center pointer-events-none">
          <img [src]="user.guild.logo" alt="Logo de la guilde"
               class="opacity-20 w-48 h-48 object-contain"/>
        </div>
      }
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
      <div class="bg-white flex flex-col gap-4 p-6 rounded-lg shadow-md flex-1 min-w-0">
        <h2 class="text-xl font-semibold text-gray-700 mb-2">Métiers</h2>
        <div class="flex flex-wrap gap-4">
          <div class="flex flex-nowrap gap-4">
            @for (job of nonForgemagingJobs(); let idx = $index; track idx) {
              <app-job-display
                [job]="job" [color]="'primary'" [isCurrentUser]="isCurrentUser"
                (removeJob)="onRemoveJob(job!)"
                (addJob)="onAddJob(false, user)"
                (editJobLevel)="onEditJobLevel(job!)"
              />
            }
          </div>

          <div class="flex flex-nowrap gap-4">
            @for (job of forgemagingJobs(); let idx = $index; track idx) {
              <app-job-display
                [job]="job" [color]="'tertiary'" [isCurrentUser]="isCurrentUser"
                (removeJob)="onRemoveJob(job!)"
                (addJob)="onAddJob(true, user)"
                (editJobLevel)="onEditJobLevel(job!)"
              />
            }
          </div>
        </div>
      </div>

      <div class="bg-white flex flex-col gap-4 p-6 rounded-lg shadow-md w-full md:w-auto md:min-w-[25rem]">
        <div class="flex items-center justify-between">
          <h2 class="text-xl font-semibold text-gray-700 mb-2">Autres personnages</h2>
          @if (isCurrentUser) {
            <button class="-mt-3" mat-icon-button (click)="onAddLinkedAccount()">
              <mat-icon>add</mat-icon>
            </button>
          }
        </div>
        @if (user.linkedAccounts && user.linkedAccounts.length > 0) {
          <ul>
            @for (linkedUser of user.linkedAccounts; track linkedUser.id) {
              <li class="flex justify-between items-center">
                <a [routerLink]="['/profile', linkedUser.username]" class="text-gray-800">{{ linkedUser.username }}</a>
                <span class="text-gray-500">{{ linkedUser.characterClass }}
                  - Niveau {{ linkedUser.characterLevel }}</span>
              </li>
            }
          </ul>
        } @else {
          <div class="text-gray-500">Aucun autre personnage</div>
        }
      </div>
    </div>


    <div class="bg-white p-6 rounded-lg shadow-md flex flex-col gap-4">
      <h2 class="text-xl font-semibold text-gray-700 mb-2">Derniers posts</h2>
      @if (posts().length > 0) {
        <div class="flex flex-col gap-2">
          @for (post of posts(); track post.id) {
            <app-post-summary [post]="post"/>
          }
        </div>
      } @else {
        <div class="text-gray-500">Aucun post</div>
      }
    </div>

    <app-questionnaire [questionnaire]="user.questionnaire" [isCurrentUser]="isCurrentUser"/>
  </div>
}
