@if (user(); as user) {
  <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md">
    <div class="flex items-center mb-6">
      <div class="w-24 h-24 rounded-full bg-gray-200 flex items-center justify-center">
        <img [src]="user | characterIcon" alt="Avatar" class="object-contain no-select no-copy">
      </div>
      <div class="ml-6">
        <h1 class="text-2xl font-bold text-gray-800">{{ user.username }}</h1>
        <div class="text-lg text-gray-600">{{ user.characterClass }} - Niveau {{ user.characterLevel }}</div>
        <div *ngIf="user.guild" class="text-md text-gray-500 mt-2">Membre de <span
          class="font-semibold">{{ user.guild.name }}</span></div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="p-4 bg-gray-50 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-700 mb-2">Métiers</h2>
        <ul>
          <li *ngFor="let job of user.jobs" class="flex justify-between items-center">
            <span class="text-gray-800">{{ job.name }}</span>
            <span class="text-gray-500">{{ job.isForgemaging ? 'Forgemaging' : 'Niveau ' + job.level }}</span>
          </li>
        </ul>
      </div>

      <div class="p-4 bg-gray-50 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-700 mb-2">Informations Générales</h2>
        <ul>
          <li class="flex justify-between items-center">
            <span class="text-gray-800">Genre</span>
            <span class="text-gray-500">{{ user.gender }}</span>
          </li>
          <li class="flex justify-between items-center">
            <span class="text-gray-800">Affichage dans le registre</span>
            <span class="text-gray-500">{{ user.showInRegistry ? 'Oui' : 'Non' }}</span>
          </li>
        </ul>
      </div>
    </div>

    @if (user.linkedAccounts && user.linkedAccounts.length > 0) {

      <div class="mt-6 p-4 bg-gray-50 rounded-lg">
        <h2 class="text-xl font-semibold text-gray-700 mb-2">Comptes Liés</h2>

        <ul>
          @for (linkedUser of user.linkedAccounts; track linkedUser.id) {
            <li class="flex justify-between items-center">
              <span class="text-gray-800">{{ linkedUser.username }}</span>
              <span class="text-gray-500">{{ linkedUser.characterClass }}
                - Niveau {{ linkedUser.characterLevel }}</span>
            </li>
          }
        </ul>
      </div>
    }

    <div *ngIf="!isCurrentUser" class="mt-6 flex justify-end">
      <button class="px-4 py-2 bg-primary text-white rounded-lg shadow hover:bg-primary-dark">
        Envoyer un message
      </button>
    </div>
  </div>

}
