<nav class="w-64 h-full bg-gray-900 text-white flex flex-col justify-between py-4">
  <ul class="space-y-2 px-4">
    <li>
      <a
        routerLink="/console/reports"
        routerLinkActive="bg-gray-700 text-secondary font-semibold"
        class="block py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200">
        Signalements
      </a>
    </li>
    <li>
      <a
        routerLink="/console/feed"
        routerLinkActive="bg-gray-700 text-secondary font-semibold"
        class="block py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200">
        Fil d'actualité
      </a>
    </li>
    <li>
      <a
        routerLink="/console/users"
        routerLinkActive="bg-gray-700 text-secondary font-semibold"
        class="block py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200">
        Utilisateurs
      </a>
    </li>
    <li>
      <a
        routerLink="/console/guilds"
        routerLinkActive="bg-gray-700 text-secondary font-semibold"
        class="block py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200">
        Guildes
      </a>
    </li>
    <li>
      <a
        routerLink="/console/logs"
        routerLinkActive="bg-gray-700 text-secondary font-semibold"
        class="block py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200">
        Historique des actions
      </a>
    </li>
  </ul>


  <a routerLink="/dashboard" class="block py-2 px-4 rounded hover:bg-gray-700 transition-colors duration-200">
    <i class="pi pi-arrow-left mr-2"></i>
    Revenir sur le site
  </a>
</nav>
