::ng-deep .p-accordion .p-accordion-content.custom-accordion-content {
  background-color: #fff !important;
  background-image: url('/assets/bg_repeat_light3.svg') !important;
  background-repeat: repeat !important;
  background-size: 50px 50px !important;
}
