<div class="w-full flex flex-col gap-6">

  <app-page-block title="Événements">

    <ng-container header-action>
      <p-button
        (click)="openCreateEventModal()"
        label="Créer un événement"
        color="primary"
        rounded
        icon="pi pi-plus"
      />
    </ng-container>

  </app-page-block>

  <div class="flex items-center justify-between">
  <div class="p-4">

    <div>
      <h2 class="text-xl font-semibold mb-2">Événements à venir (non rejoints)</h2>
      @if (futureEventsNotJoined$().length > 0) {
        <div class="flex flex-wrap gap-4">
          <app-event-item *ngFor="let event of futureEventsNotJoined$()" [event]="event"></app-event-item>
        </div>
      } @else {
        <p class="text-gray-600">Aucun événement à venir que vous n'avez pas rejoint.</p>
      }

      <h2 class="text-xl font-semibold mb-2">Événements à venir (rejoints)</h2>
      @if (futureEventsJoined$().length > 0) {
        <div class="flex flex-wrap gap-4">
          <app-event-item *ngFor="let event of futureEventsJoined$()" [event]="event"></app-event-item>
        </div>
      } @else {
        <p class="text-gray-600">Aucun événement à venir auquel vous êtes inscrit.</p>
      }

      <h2 class="text-xl font-semibold mb-2">Événements passés</h2>
      @if (pastEvents$().length > 0) {
        <div class="flex flex-wrap gap-4">
          <app-event-item *ngFor="let event of pastEvents$()" [event]="event"></app-event-item>
        </div>
      } @else {
        <p class="text-gray-600">Aucun événement passé.</p>
      }
    </div>
  </div>

</div>

