<div class="w-full flex flex-col gap-6">

  <app-page-block title="Événements">

    <ng-container header-action>
      <p-button
        (click)="openCreateEventModal()"
        label="Créer un événement"
        color="primary"
        rounded
        icon="pi pi-plus"
      />
    </ng-container>

    <ng-container content>

      <p-accordion [multiple]="true" [activeIndex]="[0]">
        <p-accordionTab header="Evenement à venir (rejoints)" contentStyleClass="custom-accordion-content">
          <div class="flex flex-wrap gap-4">
            @for (event of futureEventsJoined$(); track event.id) {
              <app-event-item (leaveEvent)="leaveEvent($event)"
                              [event]="event" [currentUser]="currentUser$()!"/>
            }
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evenement à venir (non rejoints)">
          <div class="flex flex-wrap gap-4">
            @for (event of futureEventsNotJoined$(); track event.id) {
              <app-event-item (joinEvent)="joinEvent($event)"
                              [event]="event" [currentUser]="currentUser$()!"/>
            }
          </div>
        </p-accordionTab>

        <p-accordionTab header="Evenement passés">
          <div class="flex flex-wrap gap-4">
            @for (event of pastEvents$(); track event.id) {
              <app-event-item [event]="event"/>
            }
          </div>
        </p-accordionTab>

      </p-accordion>


    </ng-container>

  </app-page-block>


</div>

