@if (pendingMembershipRequestsCount() === 0) {
  <app-alert message="Aucune demande d'adhésion en attente." type="info"/>
} @else {
  <p-table [value]="pendingMembershipRequests()" styleClass="p-datatable-sm">

    <ng-template pTemplate="header">
      <tr>
        <th class="w-1/3">Nom</th>
        <th class="w-1/4">Classe</th>
        <th class="w-1/4">Niveau</th>
        <th class="w-1/6">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-request>
      <tr>
        <td>{{ request.user.username }}</td>
        <td>
          <div class="flex items-center space-x-2">
            <img [src]="request.user | characterIcon" alt="Character Icon" height="20" width="20">
            <div>{{ request.user.characterClass }}</div>
          </div>
        </td>
        <td>{{ request.user.characterLevel }}</td>
        <td class="flex justify-start space-x-2">
          <p-button (click)="acceptRequest(request.id)" severity="success" rounded outlined>Accepter</p-button>
          <p-button (click)="declineRequest(request.id)" severity="danger" rounded outlined>Refuser</p-button>
        </td>
      </tr>
    </ng-template>

  </p-table>
}
