<div class="p-6 bg-gray-100 rounded-lg shadow-lg space-y-4">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Vos demandes de candidature</h2>
    <button (click)="onOpenGuildSelection()" [disabled]="disableNewRequestButton()" color="accent" mat-raised-button
            type="button">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-progress-bar
    *ngIf="approvedRequest()"
    [bufferValue]="bufferValue"
    [value]="progressValue"
    class="example-margin"
    color="accent"
    mode="buffer">
  </mat-progress-bar>

  <div class="flex flex-col gap-2">
    <app-alert *ngIf="approvedRequest()" message="Tu as une demande acceptée, reconnecte toi !"/>
    <app-alert *ngIf="rejectedRequestsCount() > 4"
               message="Tu as trop de demandes rejetées, tu ne peux pas en faire de nouvelles. Contacte un administrateur du site."
               type="error"/>

    <app-alert *ngIf="pendingRequestsCount() === 0" message="Aucune demande en cours."
               type="info"/>

    <app-alert *ngIf="pendingRequestsCount() >= 2"
               message="Tu es censé demander à rejoindre la guilde dont tu fais déjà partie in-game. Il se peut que
               tu te sois trompé, alors il est permis de faire jusqu'à 3 demandes simultanément."
               type="warning"/>

  </div>


  <div class="flex flex-col gap-3">
    <app-user-membership-request *ngFor="let request of requests$()" [request]="request"/>
  </div>
</div>
