<mat-card class=" shadow-lg rounded-lg">
  <div class="flex justify-between items-center custom-shadow p-6">
    <div class="flex flex-col">
      <div>
        <mat-card-title class="text-3xl font-extrabold">{{ guild.name }}</mat-card-title>
        <mat-card-subtitle class="text-md font-medium">Nombre de membres inscrits
          : {{ guild.members.length }}</mat-card-subtitle>
      </div>
      <p *ngIf="guild.description; else noDescription" class="text-sm mt-2">{{ guild.description }}</p>
      <ng-template #noDescription>
        <p class=" text-sm mt-2">Aucune description disponible pour cette guilde.</p>
      </ng-template>
    </div>

    <div *ngIf="guild.logo"
         class="flex justify-center items-center w-20 h-20 bg-white rounded-full overflow-hidden ml-4">
      <img [src]="guild.logo" alt="Guild Logo" class="w-full h-full object-cover">
    </div>
  </div>


  <mat-card-content class="p-0">
    <table [dataSource]="dataSource" class="min-w-full divide-y divide-gray-300" mat-table>
      <ng-container matColumnDef="username">
        <th *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell mat-sort-header>
          Nom
        </th>
        <td *matCellDef="let member" class="p-3 text-sm text-gray-700 whitespace-nowrap"
            mat-cell>{{ member.username }}</td>
      </ng-container>

      <ng-container matColumnDef="characterClass">
        <th *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell mat-sort-header>
          Classe
        </th>
        <td *matCellDef="let member" class="p-3 text-sm text-gray-700 whitespace-nowrap" mat-cell>
          <div class="flex flex-row items-center space-x-2">
            <img [src]="member | characterIcon" alt="Character Icon" height="20" width="20">
            <div>{{ member.characterClass }}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="characterLevel">
        <th *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell mat-sort-header>
          Niveau
        </th>
        <td *matCellDef="let member" class="p-3 text-sm text-gray-700 whitespace-nowrap"
            mat-cell>{{ member.characterLevel }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Rôle</th>
        <td *matCellDef="let member" class="p-3 text-sm text-gray-700 whitespace-nowrap" mat-cell>{{ member.role }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" class="bg-gray-100" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      <!-- Actions column only for officers -->
      <ng-container *ngIf="hasRequiredRole(currentUser.role, UserRoleEnum.OFFICER)" matColumnDef="actions">
        <th *matHeaderCellDef class="p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Actions</th>
        <td *matCellDef="let member" class="p-3 space-x-2 text-sm text-gray-700 whitespace-nowrap" mat-cell>
          <button (click)="updateRole(member, UserRoleEnum.OFFICER)"
                  *ngIf="enableUpGradeAction(member)"
                  color="accent" mat-icon-button>
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button (click)="updateRole(member, UserRoleEnum.MEMBER)"
                  *ngIf="enableDownGradeAction(member)"
                  color="primary" mat-icon-button>
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <button (click)="removeMember(member)"
                  *ngIf="enableRemoveMemberAction(member)"
                  color="warn" mat-icon-button>
            <mat-icon class="text-red-500">block</mat-icon>
          </button>
        </td>
      </ng-container>

    </table>

    <mat-paginator [length]="guild.members.length" [pageSizeOptions]="[10, 20, 50]" [pageSize]="10"
                   hidePageSize showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>

