.progress-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 6;
}

.progress {
  fill: none;
  stroke: #29863e;
  stroke-width: 6;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
