@if (currentUser(); as currentUser) {
  @if (guild(); as guild) {
    <form [formGroup]="guildForm()" class="flex justify-between items-start gap-6 p-4 bg-white rounded-lg shadow-md">

      <div class="flex flex-col gap-3">

        <div class="flex items-center gap-4 text-gray-800">
          <span class="font-semibold">Niveau de guilde:</span>
          @if (editMode()) {
            <p-inputNumber formControlName="level" placeholder="Niveau" [min]="1" [max]="200" variant="filled"
                           showButtons inputStyleClass="max-w-[4rem]"/>
          } @else {
            <span>{{ guild?.level }}</span>
          }
        </div>

        <div class="text-gray-700 leading-relaxed">
          @if (editMode()) {
            <input pInputText formControlName="description" placeholder="Description" variant="filled"/>
          } @else if (guild.description) {
            <p class="text-gray-400 italic">{{ guild.description }}</p>
          } @else {
            <p class="text-gray-400 italic">Aucune description disponible pour cette guilde.</p>
          }

        </div>

        <div class="flex items-center gap-2 text-gray-800">
          <i class="pi pi-crown text-yellow-500 mr-1"></i>
          <span>Meneur:
        <a [routerLink]="['/registry/user', guild.leaderUsername]" class="font-semibold">{{ guild.leaderUsername }}</a>
          </span>
        </div>

        <div class="text-gray-800">
          {{ guild.memberCount }} membres inscrits
        </div>
      </div>

      @if (guild.logo) {
        <div class="flex justify-center items-center w-24 h-24 overflow-hidden rounded-full">
          <img [src]="guild.logo" alt="Guild Logo" class="w-full h-full object-cover">
        </div>
      }

    </form>
  }
}
