@if (currentUser(); as currentUser) {
  @if (guild(); as guild) {
    <div class="flex justify-between items-center px-4 mb-4 text-base">
      <div class="flex flex-col gap-2">

        <div class="flex items-center gap-4 text-gray-800">
          <span>Niveau de guilde:</span>
          @if (editMode()) {
            <p-inputNumber [formControl]="guildLevelControl" [min]="1" [max]="200"
                           variant="filled" showButtons/>
            <div class="flex items-center gap-2">
              <p-button icon="pi pi-check" (click)="onUpdateGuildLevel()" rounded outlined severity="success"/>
              <p-button icon="pi pi-times" (click)="toggleEditMode()" rounded outlined severity="warning"/>
            </div>
          } @else {
            <span>{{ guild.level }}</span>
            @if (isCurrentGuild && hasRequiredRole(currentUser.role, UserRoleEnum.OFFICER)) {
              <p-button icon="pi pi-pencil" (click)="toggleEditMode()" rounded text severity="primary"/>
            }
          }
        </div>

        <div class="text-gray-700 leading-relaxed">
          @if (guild.description) {
            {{ guild.description }}
          } @else {
            Aucune description disponible pour cette guilde.
          }
        </div>

        @if (guild.leaderUsername) {
          <div class="flex items-center gap-2 text-gray-800">
            <i class="pi pi-crown text-yellow-500 mr-1"></i>
            <span>Meneur: <a
              [routerLink]="['/registry/user', guild.leaderUsername]">{{ guild.leaderUsername }}</a></span>
          </div>
        }

        <div class="text-gray-800">
          {{ guild.memberCount }} membres inscrits
        </div>
      </div>

      @if (guild.logo) {
        <div class="flex justify-center items-center w-24 h-24 overflow-hidden rounded-full">
          <img [src]="guild.logo" alt="Guild Logo" class="w-full h-full object-cover">
        </div>
      }
    </div>
  }
}
