@if (currentUser(); as currentUser) {
  <div class="flex justify-between items-center p-6">
    <div class="flex flex-col gap-2">
      <div class="text-3xl font-extrabold">{{ guild.name }}</div>
      <div class="text-sm mt-2">Niveau de guilde: {{ guild.level }}</div>
      @if (guild.description) {
        <div class="text-sm mt-2">{{ guild.description }}</div>
      } @else {
        <div class="text-sm mt-2 text-gray-500">Aucune description disponible pour cette guilde.</div>
      }
      <div class="flex items-center mt-2">
        <div class="text-md font-medium">
          {{ guild.nbOfMembers }} membres inscrits
        </div>
        <app-class-count [memberClassesCount]="guild.memberClassesCount!" class="ml-2"/>
      </div>
    </div>
    <div class="flex flex-col items-end">
      @if (guild.logo) {
        <div class="flex justify-center items-center w-20 h-20 bg-white rounded-full overflow-hidden mb-4">
          <img [src]="guild.logo" alt="Guild Logo" class="w-full h-full object-cover">
        </div>
      }
      @if (hasRequiredRole(currentUser.role, UserRoleEnum.OFFICER) && currentUser.guild.id === guild.id) {
        <button (click)="onShowMembershipRequests()"
                [matBadge]="pendingMembershipRequestsCount()"
                [matBadgeHidden]="pendingMembershipRequestsCount() === 0"
                matBadgeColor="warn"
                mat-raised-button
                color="accent">
          Demandes d'adhésion
        </button>
      }

      @if (alreadySentAllianceRequest()
      && hasRequiredRole(currentUser.role!, UserRoleEnum.LEADER)
      && currentUser.guild!.id !== guild.id) {
        <button (click)="onSendAllianceRequest()"
                mat-raised-button
                color="primary">
          Proposer une alliance
        </button>
      }

      @if (alreadySentAllianceRequest()
      && hasRequiredRole(currentUser.role!, UserRoleEnum.LEADER)
      && currentUser.guild!.id !== guild.id) {
        <button
          mat-raised-button
          color="warn"
          disabled>
          Demande envoyée
        </button>
      }

    </div>
  </div>
}
