<div class="flex flex-col gap-4">
  <form (submit)="onSearchAccount($event)" class="flex items-center gap-4">
    <input pInputText [formControl]="searchAccountControl" placeholder="Nom du compte" class="flex-1"/>

    <p-button label="Chercher" icon="pi pi-search" type="submit" [disabled]="searchAccountControl.invalid" text
              rounded/>
  </form>

  @if (accountFound(); as account) {
    <div class="flex gap-4 items-center mt-4 p-4 bg-white rounded-lg shadow-md">
      <div class="flex-1 text-gray-800 truncate font-semibold">
        {{ account.username }}
      </div>
      <div class="text-gray-600">
        {{ account.characterClass }} - Niveau {{ account.characterLevel }}
      </div>
    </div>
    <app-alert
      message="Une fois la demande envoyée, connecte toi à autre ton compte pour accepter la demande."
      type="info"
    />
  }
  @if (error(); as error) {
    <app-alert [message]="error" type="error"/>
  }
</div>
