<mat-toolbar class="flex justify-center" color="primary">
  <mat-toolbar-row class="w-full justify-evenly">
    <button class="mx-4" mat-button routerLink="/dashboard">Accueil</button>
    <button *ngIf="hasRequiredRole(currentUserRole, UserRoleEnum.MEMBER)" class="mx-4" mat-button routerLink="/guild">
      Guilde
    </button>
    <button *ngIf="hasRequiredRole(currentUserRole, UserRoleEnum.MEMBER)" class="mx-4" mat-button routerLink="/events">
      Événements
    </button>
    <button *ngIf="hasRequiredRole(currentUserRole, UserRoleEnum.MEMBER)" class="mx-4" mat-button
            routerLink="/eternal-harvest">Éternelle Moisson
    </button>
    <button *ngIf="hasRequiredRole(currentUserRole, UserRoleEnum.CANDIDATE)" class="mx-4" mat-button
            routerLink="/profile">
      Profil
    </button>
  </mat-toolbar-row>
</mat-toolbar>
