<p-toolbar styleClass="flex justify-center">
  <div class="w-full flex justify-evenly text-white">

    <a #dashboard="routerLinkActive" routerLink="/dashboard" routerLinkActive>
      <app-menu-item [selected]="dashboard.isActive" text="Accueil"/>
    </a>

    @if (hasRequiredRole(currentUser()!.role, UserRoleEnum.MEMBER)) {
      <a #guild="routerLinkActive" routerLink="/guild" routerLinkActive>
        <app-menu-item text="Guilde" [selected]="guild.isActive"/>
      </a>

      <a #events="routerLinkActive" routerLink="/events" routerLinkActive>
        <app-menu-item text="Événements" [selected]="events.isActive"/>
      </a>

      <a #feed="routerLinkActive" routerLink="/registry" routerLinkActive>
        <app-menu-item text="Registre" [selected]="feed.isActive"/>
      </a>

      <a #eternalHarvest="routerLinkActive" routerLink="/eternal-harvest" routerLinkActive>
        <app-menu-item text="Éternelle Moisson" [selected]="eternalHarvest.isActive"/>
      </a>
    }
    @if (hasRequiredRole(currentUser()!.role, UserRoleEnum.CANDIDATE)) {
      <a #profile="routerLinkActive" routerLink="/profile" routerLinkActive>
        <app-menu-item text="Profil" [selected]="profile.isActive"/>
      </a>


      <button (click)="toggleNotifications.emit()" class="relative">
        <i class="pi pi-bell"></i>
        @if (notificationsCount(); as notifCount) {
          <p-badge [value]="notifCount" [badgeDisabled]="notifCount === 0" severity="danger"
                   class="absolute bottom-2 left-2"/>
        }
      </button>


    }
  </div>
</p-toolbar>
