<mat-toolbar class="flex justify-center custom-shadow" color="primary">
  <mat-toolbar-row class="w-full justify-evenly">
    <button class="mx-4" mat-button routerLink="/dashboard">
      Accueil
    </button>
    <button *ngIf="hasRequiredRole(currentUser()!.role, UserRoleEnum.MEMBER)" class="mx-4" mat-button
            routerLink="/guild">
      Guilde
    </button>
    <button *ngIf="hasRequiredRole(currentUser()!.role, UserRoleEnum.MEMBER)" class="mx-4" mat-button
            routerLink="/events">
      Événements
    </button>
    <button *ngIf="hasRequiredRole(currentUser()!.role, UserRoleEnum.MEMBER)" class="mx-4" mat-button
            routerLink="/eternal-harvest">Éternelle Moisson
    </button>
    <button *ngIf="hasRequiredRole(currentUser()!.role, UserRoleEnum.CANDIDATE)" class="mx-4" mat-button
            routerLink="/profile">
      Profil
    </button>

    <button
      (click)="drawer.toggle()"
      [matBadgeHidden]="notificationsCount() === 0"
      [matBadge]="notificationsCount()"
      mat-icon-button
      matBadgeColor="warn"
    >
      <mat-icon>notifications</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
