<div class="mb-4">
  <input
    [formControl]="searchControl"
    class="p-2 border rounded w-full"
    placeholder="Rechercher une guilde..."
    type="text"
  />
</div>
@if (filteredGuilds.length === 0) {
  <app-alert message="Aucune guilde trouvée." type="info"/>

} @else {
  <div class="flex flex-wrap gap-4 justify-center">
    @for (guild of filteredGuilds; track guild.id) {
      <div class="flex-1 min-w-[300px] max-w-[400px]">
        <app-guild-selection-card
          (selectGuild)="onGuildSelect($event)"
          [guild]="guild"
          [selected]="guild === selectedGuild"
        />
      </div>
    }
  </div>
}
