@use '@angular/material' as mat;

@include mat.core();

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

$guilds-retro-primary: mat.define-palette(mat.$green-palette, 600);
$guilds-retro-accent: mat.define-palette(mat.$amber-palette, 500);
$guilds-retro-warn: mat.define-palette(mat.$deep-orange-palette, 700);
$guilds-retro-tertiary: mat.define-palette(mat.$pink-palette, 800);

$guilds-retro-gold: mat.define-palette(mat.$amber-palette, 500);

$guilds-retro-theme: mat.define-light-theme(
    (
      color: (
        primary: $guilds-retro-primary,
        accent: $guilds-retro-accent,
        warn: $guilds-retro-warn,
        tertiary: $guilds-retro-tertiary,
      ),
      typography: mat.define-typography-config(
        $font-family: 'Nunito, sans-serif',
      ),
      foreground: (
        base: white,
        text: white,
        disabled-text: mat.get-color-from-palette($guilds-retro-primary, 300),
        hint-text: mat.get-color-from-palette($guilds-retro-accent, 300),
        icon: mat.get-color-from-palette($guilds-retro-primary, 600),
        icons: mat.get-color-from-palette($guilds-retro-primary, 600)
      )
    )
);


@include mat.core-theme($guilds-retro-theme);
@include mat.all-component-themes($guilds-retro-theme);

.guilds-retro-gold {
  color: mat.get-color-from-palette($guilds-retro-gold, 500);
}

.mat-mdc-button-base {
  border-radius: 10rem !important;
  box-shadow: none !important;
}

.mat-mdc-button-base:hover,
.mat-mdc-button-base:focus,
.mat-mdc-button-base:active {
  box-shadow: none !important;
}


.body-background {
  background-color: #f0e4d3;
}

.card-background {
  background-color: #F5F5DC;
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

.mat-accent {
  color: white !important;
}

.custom-shadow {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5),
  inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
