<mat-horizontal-stepper #stepper [linear]="true">
  <mat-step [stepControl]="eventDetailsFormGroup" label="Détails de l'événement">
    <form [formGroup]="eventDetailsFormGroup" class="flex flex-col gap-4">
      <h2 class="text-2xl font-bold mb-4">Créer un événement</h2>

      <div class="flex gap-4">
        <div class="flex items-center gap-2 h-full">
          <div
            (click)="selectType(EventTypes.DUNGEON)"
            [ngClass]="{
              'text-accent': eventDetailsFormGroup.get('type')?.value === EventTypes.DUNGEON,
              'text-gray-400': eventDetailsFormGroup.get('type')?.value !== EventTypes.DUNGEON
            }"
            class="h-14 flex items-center gap-2 justify-center border-gray-400 border rounded px-4 py-2 cursor-pointer transition-colors">
            <mat-icon>castle</mat-icon>
            <span>Donjon</span>
          </div>
          <div
            (click)="selectType(EventTypes.ARENA)"
            [ngClass]="{
              'text-accent': eventDetailsFormGroup.get('type')?.value === EventTypes.ARENA,
              'text-gray-400': eventDetailsFormGroup.get('type')?.value !== EventTypes.ARENA
            }"
            class="h-14 flex items-center gap-2 justify-center border-gray-400 border rounded px-4 py-2 cursor-pointer transition-colors">
            <mat-icon>stadium</mat-icon>
            <span>Arène</span>
          </div>
          <div
            (click)="selectType(EventTypes.OTHER)"
            [ngClass]="{
              'text-accent': eventDetailsFormGroup.get('type')?.value === EventTypes.OTHER,
              'text-gray-400': eventDetailsFormGroup.get('type')?.value !== EventTypes.OTHER
            }"
            class="h-14 flex items-center gap-2 justify-center border-gray-400 border rounded px-4 py-2 cursor-pointer transition-colors">
            <mat-icon>not_listed_location</mat-icon>
            <span>Autre</span>
          </div>
        </div>

        <div class="flex-1">
          @if (eventDetailsFormGroup.get('type')?.value === EventTypes.DUNGEON) {
            <mat-form-field appearance="outline" class="w-full">
              <input formControlName="dungeonName" matInput [matAutocomplete]="auto" placeholder="Nom du donjon"/>
              <mat-autocomplete #auto="matAutocomplete">
                @for (dungeonName of dungeonNames(); track dungeonName) {
                  <mat-option [value]="dungeonName">{{ dungeonName }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          } @else if (eventDetailsFormGroup.get('type')?.value === EventTypes.ARENA) {
            <mat-form-field appearance="outline" class="w-full">
              <span matPrefix class="ml-4">Capture de : </span>
              <input formControlName="arenaTargets" matInput placeholder="Cibles en arène"/>
            </mat-form-field>
          } @else if (eventDetailsFormGroup.get('type')?.value === EventTypes.OTHER) {
            <mat-form-field appearance="outline" class="w-full">
              <input formControlName="title" matInput placeholder="Titre de l'événement"/>
            </mat-form-field>
          }
        </div>
      </div>

      <mat-form-field appearance="outline" class="w-full">
        <input formControlName="description" matInput placeholder="Description"/>
      </mat-form-field>

      <div class="flex gap-4">
        <mat-form-field appearance="outline" class="flex-1 w-full">
          <input (focus)="picker.open()" [matDatepicker]="picker" [min]="minDate" formControlName="date" matInput
                 placeholder="Date"/>
          <mat-icon matSuffix>calendar_today</mat-icon>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-1 w-full">
          <input formControlName="time" matInput placeholder="Heure">
        </mat-form-field>
      </div>

      <mat-slide-toggle formControlName="isAccessibleToAllies">Ouvert aux guildes alliées</mat-slide-toggle>

      <div class="flex justify-end">
        <button [disabled]="eventDetailsFormGroup.invalid" color="primary" mat-raised-button matStepperNext>Suivant
        </button>
      </div>


    </form>
  </mat-step>

  <mat-step [stepControl]="participationRequirementsFormGroup" label="Exigences de participation">
    <form [formGroup]="participationRequirementsFormGroup" class="flex flex-col gap-4 pt-4">

      <div class="flex items-center gap-4">
        <mat-form-field appearance="outline" class="flex-1 w-full">
          <mat-label>Nombre maximum de participants</mat-label>
          <input formControlName="maxParticipants" matInput placeholder="Nombre maximum de participants" type="number"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="flex-1 w-full">
          <mat-label>Niveau minimum</mat-label>
          <input formControlName="minLevel" matInput placeholder="Niveau minimum" type="number"/>
        </mat-form-field>

        <mat-slide-toggle class="flex-1 w-full" formControlName="requiresOptimization">
          Optimisation requise
        </mat-slide-toggle>

      </div>

      <label class="font-semibold">Classes requises:</label>
      <div class="flex flex-wrap">
        @for (className of characterClasses; track className) {
          <mat-checkbox
            (change)="onCheckboxChange($event)"
            [value]="className"
            class="w-1/2 sm:w-1/3 md:w-1/4">
            {{ className }}
          </mat-checkbox>
        }
      </div>

      <div class="flex justify-between">
        <button color="primary" mat-raised-button matStepperPrevious>Précédent</button>
        <button (click)="onSubmit()" [disabled]="eventForm.invalid" color="primary" mat-raised-button>Créer</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
