<p-stepper [linear]="true">

  <p-stepperPanel>
    <ng-template pTemplate="header">
      <p-button label="Détails de l'événement" icon="pi pi-info-circle" text rounded outlined/>
    </ng-template>

    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
      <form [formGroup]="eventDetailsFormGroup" class="flex flex-col gap-3 py-4 ">
        <div class="flex flex-wrap gap-3 items-center">

          <div class="flex items-center gap-2">
            <div
              (click)="selectType(EventTypes.DUNGEON)"
              [ngClass]="{
              'text-accent': eventDetailsFormGroup.get('type')?.value === EventTypes.DUNGEON,
              'text-gray-400': eventDetailsFormGroup.get('type')?.value !== EventTypes.DUNGEON
            }"
              class="h-[2.5rem] flex items-center gap-2 justify-center border-gray-400 border rounded-[.5rem] px-4 py-2 cursor-pointer transition-colors">
              <span>Donjon</span>
            </div>
            <div
              (click)="selectType(EventTypes.ARENA)"
              [ngClass]="{
              'text-accent': eventDetailsFormGroup.get('type')?.value === EventTypes.ARENA,
              'text-gray-400': eventDetailsFormGroup.get('type')?.value !== EventTypes.ARENA
            }"
              class="h-[2.5rem] flex items-center gap-2 justify-center border-gray-400 border rounded-[.5rem] px-4 py-2 cursor-pointer transition-colors">
              <span>Arène</span>
            </div>
            <div
              (click)="selectType(EventTypes.OTHER)"
              [ngClass]="{
              'text-accent': eventDetailsFormGroup.get('type')?.value === EventTypes.OTHER,
              'text-gray-400': eventDetailsFormGroup.get('type')?.value !== EventTypes.OTHER
            }"
              class="h-[2.5rem] flex items-center gap-2 justify-center border-gray-400 border rounded-[.5rem] px-4 py-2 cursor-pointer transition-colors">
              <span>Autre</span>
            </div>
          </div>

          <div class="flex-1">
            @if (eventDetailsFormGroup.get('type')?.value === EventTypes.DUNGEON) {

              <p-autoComplete
                styleClass="w-full"
                [inputStyle]="{width: '100%'}"
                formControlName="dungeonName"
                searchMessage=" "
                emptySelectionMessage=" "
                selectionMessage=" "
                [suggestions]="dungeonNames()"
                (completeMethod)="filterDungeons($event)"
                placeholder="Nom du donjon"
                [minLength]="1"
                completeOnFocus
                forceSelection
              >
                <ng-template let-dungeon pTemplate="item">
                  <div class="flex items-center">
                    <img [src]="dungeonImageUrl(dungeon)" alt="Dungeon" class="w-8 h-8 rounded-full object-cover">
                    <span class="ml-2">{{ dungeon }}</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="loadingicon"></ng-template>
                <ng-template pTemplate="empty">Aucun résultat</ng-template>
              </p-autoComplete>

            } @else if (eventDetailsFormGroup.get('type')?.value === EventTypes.ARENA) {

              <p-inputGroup styleClass="w-full">
                <p-inputGroupAddon>Capture de</p-inputGroupAddon>
                <input
                  pInputText
                  formControlName="arenaTargets"
                  placeholder="Cibles de l'arène"
                />
              </p-inputGroup>

            } @else {

              <input
                pInputText
                formControlName="title"
                placeholder="Titre de l'événement"
                class="w-full"
              />
            }
          </div>

        </div>

        <input pInputText formControlName="description" placeholder="Description de l'événement" class="w-full"/>

        <div class="flex flex-wrap items-center gap-4">
          <p-calendar
            formControlName="date"
            dateFormat="dd MM yy"
            placeholder="Date"
            [minDate]="minDate"
            showIcon
            icon="pi pi-calendar"
          />
          <p-calendar
            formControlName="time"
            [timeOnly]="true"
            stepMinute="15"
            placeholder="Heure"
            showIcon
            icon="pi pi-clock"
          />

          @if (eventDetailsFormGroup.get('isAccessibleToAllies')?.value) {
            <p-button (click)="onChangeIsAccessibleToAllies(false)"
                      label="Ouvert aux guildes alliées"
                      icon="pi pi-lock-open" outlined/>
          } @else {
            <p-button (click)="onChangeIsAccessibleToAllies(true)" severity="warning"
                      label="Fermé aux guildes alliées"
                      icon="pi pi-lock" outlined/>
          }
        </div>
      </form>

      <div class="flex justify-end my-4">
        <p-button label="Suivant" [disabled]="eventDetailsFormGroup.invalid" icon="pi pi-arrow-right"
                  rounded outlined
                  (onClick)="nextCallback.emit()"/>
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel>
    <ng-template pTemplate="header">
      <p-button label="Prérequis" icon="pi pi-check" text rounded outline/>
    </ng-template>

    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
      <form [formGroup]="participationRequirementsFormGroup" class="flex flex-col gap-3 py-4">
        <div class="flex gap-3">
          <div class="flex-1 flex flex-col w-full gap-2">
            <label for="maxParticipants" class="font-semibold">Nombre maximum de participants</label>
            <p-inputNumber
              id="maxParticipants"
              formControlName="maxParticipants"
              [inputStyle]="{ borderRadius: '0.5rem', width: '100%'}"
              class="w-full"
              placeholder="Nombre maximum de participants"
              min="1"
            />
          </div>

          <div class="flex-1 flex flex-col w-full gap-2">
            <label for="minLevel" class="font-semibold">Niveau minimum</label>
            <p-inputNumber
              id="minLevel"
              formControlName="minLevel"
              [inputStyle]="{ borderRadius: '0.5rem' }"
              class="w-full"
              placeholder="Niveau minimum"
              min="0"
              max="200"
            />
          </div>

          <div class="flex-1 flex items-center gap-2">
            <label for="requiresOptimization" class="font-semibold">Optimisation requise</label>
            <p-inputSwitch id="requiresOptimization" formControlName="requiresOptimization"></p-inputSwitch>
          </div>
        </div>

        <label class="font-semibold">Classes requises:</label>
        <div class="flex flex-wrap gap-4">
          @for (className of characterClasses; track className) {
            <p-checkbox
              [value]="className"
              [formControl]="isClassRequired(className)"
              (onChange)="onCheckboxChange(className, $event.checked)"
              [binary]="true"
              label="{{ className }}"
            />
          }
        </div>
      </form>

      <div class="flex justify-between my-4">
        <p-button icon="pi pi-arrow-left" label="Précédent" rounded outlined severity="warning"
                  (onClick)="prevCallback.emit()"/>
        <p-button icon="pi pi-arrow-right" label="Suivant" [disabled]="!participationRequirementsFormGroup.valid"
                  rounded outlined (onClick)="nextCallback.emit()"/>
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel>
    <ng-template pTemplate="header">
      <p-button label="Récapitulatif" icon="pi pi-list" text rounded outline/>
    </ng-template>

    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">

      <div class="my-4 p-4 border border-dashed">
        <app-event-summary-preview [createEvent]="createEventDto()"/>
      </div>

      <div class="flex justify-between my-4">
        <p-button icon="pi pi-arrow-left" label="Précédent" rounded outlined severity="warning"
                  (onClick)="prevCallback.emit()"/>
        <p-button label="Créer l'événément" (click)="onSubmit()" icon="pi pi-plus" rounded/>
      </div>
    </ng-template>
  </p-stepperPanel>

</p-stepper>
