<div class="flex flex-col items-center justify-center min-h-screen p-4">
  <button (click)="goBack()" class="absolute top-4 left-4 text-gray-600 hover:text-gray-800">
    <i class="pi pi-arrow-left"></i>
  </button>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="registerAsLeaderForm"
        class="bg-white p-8 rounded-lg shadow-md w-full max-w-4xl grid grid-cols-2 gap-[2rem]">

    <h2 class="col-span-2 text-2xl font-bold">Inscription en tant que meneur de guilde</h2>

    <div class="col-span-2 flex flex-col gap-2">
      <app-alert class="col-span-2"
                 message="Pour vous inscrire en tant que meneur de guilde, vous devez disposer d'un code d'autorisation
               fourni par un administrateur du site. Joignable via Discord (&#64;mohandb) ou in-game (amawtis)."/>

      @if (registerAsLeaderForm.get('guildCode')?.hasError('invalidGuildCode')) {
        <app-alert class="col-span-2"
                   message="Le code d'autorisation est invalide ou a expiré."
                   type="error"/>
      }

      @if (registerAsLeaderForm.get('username')?.hasError('usernameAlreadyTaken')) {
        <app-alert class="col-span-2"
                   message="Ce nom de personnage est déjà pris."
                   type="error"/>
      }
    </div>

    <div class="col-span-2 md:col-span-1 flex flex-col gap-4">
      <h3 class="text-lg">Informations du personnage</h3>

      <input formControlName="username" pInputText placeholder="Nom du personnage">

      <p-password [feedback]="false" [inputStyle]="{'width': '100%'}" formControlName="password"
                  placeholder="Mot de passe" styleClass="w-full"
                  toggleMask/>

      <div class="flex gap-4 items-center">
        <p-dropdown
          [options]="characterClasses"
          class="w-full"
          formControlName="characterClass"
          placeholder="Classe"
          styleClass="w-full"/>


        <div class="flex items-center gap-2 h-full">
          <div
            (click)="selectGender(GenderEnum.MALE)"
            [ngClass]="{
              'text-accent': registerAsLeaderForm.get('gender')?.value === 'M',
              'text-gray-400': registerAsLeaderForm.get('gender')?.value !== 'M'
            }"
            class="w-11 h-11 flex items-center justify-center border-gray-300 border rounded-[.5rem] cursor-pointer transition-colors">
            <i class="pi pi-mars"></i>
          </div>
          <div
            (click)="selectGender(GenderEnum.FEMALE)"
            [ngClass]="{
              'text-accent': registerAsLeaderForm.get('gender')?.value === 'F',
              'text-gray-400': registerAsLeaderForm.get('gender')?.value !== 'F'
            }"
            class="w-11 h-11 flex items-center justify-center border-gray-300 border rounded-[.5rem] cursor-pointer transition-colors">
            <i class="pi pi-venus"></i>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="w-full flex gap-4">
          <label>Niveau du personnage</label>
          <label class="font-bold">{{ characterLevel.value }}</label>
        </div>

        <p-slider #characterLevel animate formControlName="characterLevel" max="200" min="0"/>
      </div>
    </div>

    <div class="col-span-2 md:col-span-1 flex flex-col gap-4">
      <h3 class="text-lg">Informations de la guilde</h3>

      <div class="flex items-center w-full">
        <input [formControl]="validateGuildCodeControl" pInputText placeholder="Code d'autorisation">
        <p-button (click)="validateGuildCode()" class="ml-2" label="Valider" rounded severity="secondary"
                  type="button"/>
      </div>

      <div class="flex items-center">
        <input #importInput (change)="onImportLogo($event)" accept=".png, .jpg" hidden type="file">
        <div (click)="importInput.click()"
             class="flex items-center justify-center w-16 h-16 rounded-full bg-gray-100 cursor-pointer overflow-hidden">
          <ng-container *ngIf="logoPreview; else noLogo">
            <img [src]="logoPreview" alt="Aperçu du logo de guilde" class="w-full h-full object-cover">
          </ng-container>
          <ng-template #noLogo>
            <div class="flex flex-col items-center text-gray-500">
              <i class="pi pi-camera" style="font-size: 1.5rem"></i>
            </div>
          </ng-template>
        </div>

        <div class="ml-4">
          <div *ngIf="registerAsLeaderForm.get('guildName')?.value; else noGuildName" class="font-bold text-lg">
            {{ registerAsLeaderForm.get('guildName')?.value }}
          </div>
          <ng-template #noGuildName>
            <div class="text-gray-500 text-xs border border-gray-300 border-dotted rounded p-2">
              Renseigner un code d'autorisation ci-dessus
            </div>
          </ng-template>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="w-full flex gap-4">
          <label>Niveau de la guilde</label>
          <label class="font-bold">{{ guildLevel.value }}</label>
        </div>

        <p-slider #guildLevel animate formControlName="level" max="200" min="0"/>
      </div>

    </div>

    <p-button
      [disabled]="registerAsLeaderForm.invalid || isLoading"
      [icon]="isLoading ? 'pi pi-spin pi-spinner' : ''"
      class="col-span-2 flex"
      label="S'inscrire"
      rounded
      styleClass="w-full md:w-auto min-w-[15rem] ml-auto"
      type="submit"/>


  </form>
</div>
