<div class="flex flex-col items-center justify-center min-h-full p-4">
  <button (click)="goBack()" class="absolute top-4 left-4 text-gray-600 hover:text-gray-800">
    <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>
  </button>

  <div class="bg-white p-8 rounded-lg shadow-md max-w-[36rem] flex flex-col gap-[1rem]">
    <h2 class="text-2xl font-bold">Inscription en tant que meneur de guilde</h2>

    <div class="flex flex-col gap-2">
      <app-alert
        message="Pour vous inscrire en tant que meneur de guilde, vous devez disposer d'un code d'autorisation fourni par un administrateur du site. Joignable via Discord (&#64;mohandb) ou in-game (amawtis)."/>
      @if (validateGuildCodeControl?.hasError('invalidGuildCode')) {
        <app-alert message="Le code d'autorisation est invalide ou a expiré." type="error"/>
      }
      @if (characterInfoForm.get('username')?.hasError('usernameAlreadyTaken')) {
        <app-alert message="Ce nom de personnage est déjà pris." type="error"/>
      }
    </div>

    <p-stepper [linear]="true">
      <p-stepperPanel>
        <ng-template pTemplate="header">
          <p-button label="Personnage" icon="pi pi-user" text rounded outlined/>
        </ng-template>

        <ng-template pTemplate="content" let-nextCallback="nextCallback">
          <form [formGroup]="characterInfoForm" class="mt-2 flex flex-col gap-3" (submit)="nextCallback.emit()">
            <div class="flex flex-col gap-3 sm:flex-row sm:gap-3">
              <input pInputText formControlName="username" placeholder="Nom du personnage" class="flex-1"/>
              <input pPassword formControlName="password" type="password" placeholder="Choisis un mot de passe"
                     styleClass="flex-1" class="flex-1"/>
            </div>

            <div class="flex gap-3 items-center">
              <p-dropdown [options]="characterClasses" class="w-full" formControlName="characterClass"
                          placeholder="Classe" styleClass="w-full"/>
              <div class="flex items-center gap-2 h-full">
                <div (click)="selectGender(GenderEnum.MALE)"
                     [ngClass]="{'text-accent': characterInfoForm.get('gender')?.value === 'M', 'text-gray-400': characterInfoForm.get('gender')?.value !== 'M'}"
                     class="w-11 h-11 flex items-center justify-center border-gray-300 border rounded-[.5rem] cursor-pointer transition-colors">
                  <i class="pi pi-mars"></i>
                </div>
                <div (click)="selectGender(GenderEnum.FEMALE)"
                     [ngClass]="{'text-accent': characterInfoForm.get('gender')?.value === 'F', 'text-gray-400': characterInfoForm.get('gender')?.value !== 'F'}"
                     class="w-11 h-11 flex items-center justify-center border-gray-300 border rounded-[.5rem] cursor-pointer transition-colors">
                  <i class="pi pi-venus"></i>
                </div>
              </div>
            </div>

            <div class="flex flex-col gap-3">
              <div class="w-full flex gap-4">
                <label>Niveau du personnage</label>
                <label class="font-bold">{{ characterLevel.value }}</label>
              </div>
              <p-slider #characterLevel animate formControlName="characterLevel" max="200" min="0"/>
            </div>

            <div class="flex items-center justify-end mt-3">
              <p-button [disabled]="characterInfoForm.invalid" iconPos="right" icon="pi pi-arrow-right" label="Suivant"
                        rounded text severity="secondary" type="submit"/>
            </div>
          </form>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel>
        <ng-template pTemplate="header">
          <p-button label="Guilde" icon="pi pi-shield" text rounded outlined/>
        </ng-template>

        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
          <form [formGroup]="guildInfoForm" class="mt-2 flex flex-col gap-4" (submit)="nextCallback.emit()">
            <div class="flex items-center gap-4">
              <input #importInput (change)="onImportLogo($event)" accept=".png, .jpg" hidden type="file">
              <div (click)="importInput.click()"
                   class="relative flex items-center justify-center w-20 h-20 rounded-full cursor-pointer transition-all"
                   [ngClass]="{'border-2 border-dashed border-gray-300 bg-gray-100 hover:bg-gray-200 hover:border-gray-400': !logoPreview }">
                @if (logoPreview) {
                  <img [src]="logoPreview" alt="Aperçu du logo de guilde"
                       class="w-full h-full object-cover rounded-full">
                } @else {
                  <div class="flex flex-col items-center text-center text-gray-500">
                    <i class="pi pi-camera" style="font-size: 1.75rem"></i>
                    <span class="text-xs">Importer un logo</span>
                  </div>
                }
              </div>

              <div class="flex flex-col gap-2">
                <div class="flex items-center w-full">
                  <input [formControl]="validateGuildCodeControl" pInputText placeholder="Code d'autorisation"
                         (keydown.enter)="validateAndPreventSubmit($event)">
                  <p-button (click)="validateGuildCode()" class="ml-2" label="Valider" rounded severity="secondary"
                            type="button"/>
                </div>
                @if (guildInfoForm.get('guildName')?.value) {
                  <div class="font-bold text-lg">{{ guildInfoForm.get('guildName')?.value }}</div>
                } @else {
                  <span class="text-gray-500 text-xs">Renseigner un code d'autorisation ci-dessus</span>
                }
              </div>
            </div>

            <div class="flex flex-col gap-4">
              <div class="w-full flex gap-4">
                <label>Niveau de la guilde</label>
                <label class="font-bold">{{ guildLevel.value }}</label>
              </div>
              <p-slider #guildLevel animate formControlName="level" max="200" min="1"/>
            </div>

            <div class="flex justify-between mt-4">
              <p-button icon="pi pi-arrow-left" label="Précédent" rounded text severity="secondary"
                        (onClick)="prevCallback.emit()"/>
              <p-button [disabled]="guildInfoForm.invalid" icon="pi pi-arrow-right" iconPos="right" label="Suivant"
                        rounded text severity="secondary" type="submit"/>
            </div>
          </form>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel>
        <ng-template pTemplate="header">
          <p-button label="Récap" icon="pi pi-list" text rounded outlined/>
        </ng-template>

        <ng-template pTemplate="content" let-prevCallback="prevCallback">
          <div class="w-full">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                @if (characterInfoForm.get('characterClass')?.value && characterInfoForm.get('gender')?.value) {
                  <div class="w-10 h-10 rounded-full bg-beige border border-gray-300 flex items-center justify-center">
                    <img [src]="previewCharacterClass | characterIcon" alt="Avatar du personnage"
                         class="w-8 h-8 object-cover rounded-full">
                  </div>
                }
                <div class="flex flex-col gap-1">
                  @if (characterInfoForm.get('username')?.value && characterInfoForm.get('characterLevel')?.value) {
                    <span class="text-gray-500 text-xs">{{ characterInfoForm.get('username')?.value }}
                      niv. {{ characterInfoForm.get('characterLevel')?.value }}</span>
                  }
                  @if (guildInfoForm.get('guildName')?.value) {
                    <span class="text-gray-500 text-xs">Meneur de <span
                      class="font-bold">{{ guildInfoForm.get('guildName')?.value }}</span></span>
                  }
                </div>
              </div>
              <div class="relative flex items-center justify-center w-20 h-20 rounded-full">
                @if (logoPreview) {
                  <img [src]="logoPreview" alt="Aperçu du logo de guilde"
                       class="w-full h-full object-cover rounded-full">
                }
              </div>
            </div>

            <form [formGroup]="confirmationForm" class="flex flex-col gap-2">
              <div class="flex items-start gap-2">
                <p-checkbox formControlName="confirmInfoAccuracy" binary="true"
                            inputId="confirmInfoAccuracy"></p-checkbox>
                <label id="confirmInfoAccuracy">Je confirme qu'il s'agit bien de mon personnage sur Boune.</label>
              </div>
              <div class="flex items-start gap-2">
                <p-checkbox formControlName="acceptCgu" binary="true" inputId="acceptCgu"
                            [disabled]="true"></p-checkbox>
                <label id="acceptCgu">J'ai lu et j'accepte les <a class="cursor-pointer underline text-secondary"
                                                                  (click)="onOpenCgu()">conditions générales
                  d'utilisation</a>.</label>
              </div>
            </form>

            <div class="flex justify-between mt-4">
              <p-button icon="pi pi-arrow-left" label="Précédent" rounded text severity="secondary"
                        (onClick)="prevCallback.emit()"/>
              <p-button [icon]="isLoading ? 'pi pi-spin pi-spinner' : ''"
                        [disabled]="characterInfoForm.invalid || guildInfoForm.invalid || confirmationForm.invalid || isLoading"
                        (onClick)="onSubmit()" label="S'inscrire" rounded severity="primary"
                        styleClass="min-w-[12rem]"/>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>
