<form [formGroup]="addJobForm" class="flex gap-4 items-center">

  <p-autoComplete formControlName="name" placeholder="Métier"
                  [suggestions]="filteredJobs | sortAlphabetically"
                  (completeMethod)="filterJobs($event)"
                  searchMessage=" "
                  emptySelectionMessage=" "
                  selectionMessage=" "
                  completeOnFocus>
    <ng-template pTemplate="loadingicon"></ng-template>
    <ng-template pTemplate="empty">Aucun résultat</ng-template>
  </p-autoComplete>

  <p-inputNumber formControlName="level" placeholder="Niveau du métier" min="0" max="100"></p-inputNumber>

</form>
