<div class="max-h-[60vh] overflow-y-visible pt-4">
  @if (contentComponent) {
    <ng-container #dynamicComponentContainer/>
  } @else if (contentText) {
    <p>{{ contentText }}</p>
  }
</div>

<div class="flex justify-end gap-2 my-4">
  <button
    (click)="onCancel()"
    icon="pi pi-times"
    label="Annuler"
    pButton
    rounded
    severity="secondary"
    text
  ></button>

  @if (buttonText) {
    <button
      (click)="onAction()"
      [disabled]="buttonDisabled()"
      [label]="buttonText"
      [severity]="buttonColor"
      [icon]="buttonIcon"
      pButton
      rounded
    ></button>
  }
</div>
