<div class="flex flex-col h-full justify-center items-center">

  <h1 class="relative text-[4rem] text-[#ffc107] text-shadow mb-10">
    Guilds Boune
  </h1>

  <form (ngSubmit)="login()" [formGroup]="loginForm"
        class="flex flex-col gap-[1.5rem] bg-white p-12 rounded-lg shadow-lg w-full max-w-md">

    <h2 class="text-2xl font-bold">Connexion</h2>

    <app-alert *ngIf="loginForm.hasError('invalidCredentials')" message="Identifiants incorrects." type="error"/>

    <div class="flex flex-col gap-4">
      <input formControlName="username" pInputText placeholder="Nom du personnage"/>
      <input formControlName="password" pInputText placeholder="Mot de passe" type="password"/>
    </div>

    <p-button
      label="Se connecter"
      [disabled]="!loginForm.valid || isLoading"
      styleClass="w-full"
      rounded
      [icon]="isLoading ? 'pi pi-spin pi-spinner' : ''"
      type="submit"
    />
    <div class="text-center mt-4">
      Pas encore inscrit ?
      <a [routerLink]="['/auth/register']" class="text-accent underline">S'enregistrer</a>
    </div>
  </form>

</div>
