<button (click)="goBack()" class="text-gray-600 hover:text-gray-800">
  <mat-icon>arrow_back</mat-icon>
</button>
@if (guild(); as guild) {
  <div class="flex flex-col gap-4">

    <mat-card class="shadow-lg rounded-lg">
      <app-guild-header
        [guild]="guild"
        [hidden]="loading"
        [currentUser]="currentUser()!"
        (acceptAllianceRequest)="onAcceptAllianceRequest($event)"
        (declineAllianceRequest)="onDeclineAllianceRequest($event)"
        (sendAllianceRequest)="onSendAllianceRequest($event)"
      />

      @if (guild.members && guild.members.length > 0) {
        <app-guild-members-table
          [hidden]="loading"
          [currentUser]="currentUser()!"
          [guild]="guild"
        />
      }

      @if (loading) {
        <mat-spinner class="mx-auto min-h-[11.75rem]" color="accent" diameter="50"></mat-spinner>
      }
    </mat-card>

    <div class="bg-white p-6 rounded-lg shadow-md flex flex-col gap-6">
      <h2 class="text-2xl font-semibold text-gray-700">Statistiques de Guilde</h2>
      @if (guild.hideStats) {
        <app-alert type="warning" message="Les statistiques de guilde sont masquées aux non membres de la guilde."/>
      } @else {
        <app-guild-stats [guildId]="guild.id" [hidden]="loading"/>
      }
    </div>

    @if (!loading && guild.allies && guild.allies.length > 0) {
      <div class="flex flex-col gap-3">
        <div class="text-2xl font-bold">Alliances <span>{{ guild.allies.length }}/3</span></div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          @for (ally of guild.allies; track ally.id) {
            <app-alliance-card [guild]="ally"/>
          }
        </div>
      </div>
    }

  </div>
}
