<div class="flex flex-col items-center justify-center min-h-screen p-4">
  <button (click)="goBack()" class="absolute top-4 left-4 text-gray-600 hover:text-gray-800">
    <i class="pi pi-arrow-left" style="font-size: 1.5rem"></i>
  </button>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="registerAsMemberForm"
        class="bg-white p-8 rounded-lg shadow-md w-full max-w-4xl grid grid-cols-2 gap-[1.5rem]">

    <h2 class="col-span-2 text-2xl font-bold">Inscription pour rejoindre une guilde</h2>

    <div class="col-span-2 flex flex-col gap-2">
      @if (registerAsMemberForm.get('username')?.hasError('usernameAlreadyTaken')) {
        <app-alert class="col-span-2"
                   message="Ce nom de personnage est déjà pris."
                   type="error"/>
      }
    </div>

    <div class="col-span-2 md:col-span-1 flex flex-col gap-4">

      <h3 class="text-lg">Informations du personnage</h3>

      <input formControlName="username" pInputText placeholder="Nom du personnage">

      <p-password [feedback]="false" [inputStyle]="{'width': '100%'}" formControlName="password"
                  placeholder="Mot de passe" styleClass="w-full"
                  toggleMask/>

      <div class="flex gap-4 items-center">

        <p-dropdown
          [options]="characterClasses"
          class="w-full"
          formControlName="characterClass"
          placeholder="Classe"
          styleClass="w-full"/>

        <div class="flex items-center gap-2 h-full">
          <div
            (click)="selectGender(GenderEnum.MALE)"
            [ngClass]="{
              'text-accent': registerAsMemberForm.get('gender')?.value === 'M',
              'text-gray-400': registerAsMemberForm.get('gender')?.value !== 'M'
            }"
            class="w-11 h-11 flex items-center justify-center border-gray-300 border rounded-[.5rem] cursor-pointer transition-colors">
            <i class="pi pi-mars"></i>
          </div>
          <div
            (click)="selectGender(GenderEnum.FEMALE)"
            [ngClass]="{
              'text-accent': registerAsMemberForm.get('gender')?.value === 'F',
              'text-gray-400': registerAsMemberForm.get('gender')?.value !== 'F'
            }"
            class="w-11 h-11 flex items-center justify-center border-gray-300 border rounded-[.5rem] cursor-pointer transition-colors">
            <i class="pi pi-venus"></i>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-4">

        <div class="w-full flex gap-4">
          <label>Niveau du personnage</label>
          <label class="font-bold">{{ characterLevel.value }}</label>
        </div>

        <p-slider #characterLevel animate formControlName="characterLevel" max="200" min="0"/>
      </div>

    </div>

    <div class="col-span-2 md:col-span-1 flex flex-col gap-4">

      <h3 class="text-lg">Sélection de la guilde</h3>

      <div class="flex flex-col gap-2">

        <button (click)="onOpenGuildSelection()" [disabled]="loadingGuilds"
                class="mb-4 w-full text-white flex items-center justify-center gap-2"
                pButton rounded severity="secondary" type="button">
          @if (loadingGuilds) {
            <i class="pi pi-spin pi-spinner"></i>
            <span>Chargement des guildes...</span>
          } @else {
            <i class="pi pi-search"></i>
            <span>Sélectionner une guilde</span>
          }
        </button>

        @if (guildSelected) {
          <app-guild-selected-card [guild]="guildSelected" class="w-full"/>
        }

      </div>

    </div>

    <p-button
      [disabled]="registerAsMemberForm.invalid || isLoading"
      [icon]="isLoading ? 'pi pi-spin pi-spinner' : ''"
      class="col-span-2 flex"
      label="S'inscrire"
      rounded
      styleClass="w-full md:w-auto min-w-[15rem] ml-auto"
      type="submit"/>

  </form>
</div>
