<div class="flex flex-col items-center justify-center min-h-screen p-4">
  <h1 class="text-2xl font-bold mb-6 text-center">Inscription</h1>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="registerAsMemberForm"
        class="bg-white p-8 rounded-lg shadow-md w-full max-w-4xl grid grid-cols-2 gap-4">

    <div class="col-span-2 md:col-span-1">
      <mat-form-field appearance="outline" class="w-full mb-4" floatLabel="always">
        <input formControlName="username" matInput placeholder="Nom du personnage">
        <mat-error *ngIf="registerAsMemberForm.get('username')?.hasError('usernameAlreadyTaken')">
          Ce nom est déjà pris
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full mb-4">
        <input formControlName="password" matInput placeholder="Choisir un mot de passe" type="password">
      </mat-form-field>

      <div class="flex gap-4 mb-4 items-center">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Classe</mat-label>
          <mat-select formControlName="characterClass">
            <mat-option *ngFor="let charClass of characterClasses" [value]="charClass">
              {{ charClass }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="flex items-center gap-2 h-full">
          <div
            (click)="selectGender(GenderEnum.MALE)"
            [ngClass]="{
              'text-accent': registerAsMemberForm.get('gender')?.value === 'M',
              'text-gray-400': registerAsMemberForm.get('gender')?.value !== 'M'
            }"
            class="w-12 h-12 flex items-center justify-center border-gray-400 border rounded cursor-pointer transition-colors">
            <mat-icon>male</mat-icon>
          </div>
          <div
            (click)="selectGender(GenderEnum.FEMALE)"
            [ngClass]="{
              'text-accent': registerAsMemberForm.get('gender')?.value === 'F',
              'text-gray-400': registerAsMemberForm.get('gender')?.value !== 'F'
            }"
            class="w-12 h-12 flex items-center justify-center border-gray-400 border rounded cursor-pointer transition-colors">
            <mat-icon>female</mat-icon>
          </div>
        </div>
      </div>

      <div class="w-full flex gap-3">
        <label>Niveau du personnage</label>
        <label class="font-bold">{{ level.value }}</label>
      </div>

      <div class="pr-5">
        <mat-slider color="accent" max="200" min="1" showTickMark step="1">
          <input #level class="w-full" formControlName="characterLevel" matSliderThumb>
        </mat-slider>
      </div>
    </div>

    <div class="col-span-2 md:col-span-1 flex flex-col justify-between">
      <div class="flex flex-col items-start gap-2">
        <button (click)="onOpenGuildSelection()" [disabled]="loadingGuilds"
                class="mb-4 w-full text-white flex items-center justify-center gap-2"
                color="accent" mat-raised-button type="button">
          <mat-spinner *ngIf="loadingGuilds" diameter="20"></mat-spinner>
          <span *ngIf="!loadingGuilds">Choisir une guilde</span>
        </button>

        <app-guild-selected-card *ngIf="guildSelected" [guild]="guildSelected" class="w-full"/>
      </div>

      <button [disabled]="registerAsMemberForm.invalid" class="w-full mt-3" color="primary" mat-raised-button
              type="submit">
        S'inscrire
      </button>
    </div>
  </form>
</div>
