@if (memberClassesCount) {
  <div class="flex flex-wrap items-center gap-3">
    @for (classKey of getCharacterClassKeys(); track classKey) {
      <div class="flex items-center gap-1" [matTooltip]="classKey + ' : '+ memberClassesCount[classKey]">
        <img [ngSrc]="'assets/characters/' + classKey.toLowerCase() + '-m-icon.svg'"
             [alt]="classKey + ' icon'"
             width="16"
             height="16"
             class="object-contain"
        />
        <span class="font-bold text-gray-500 text-xs">{{ memberClassesCount[classKey] }},</span>
      </div>
    }
  </div>

}
