@if (classCount(); as classCount) {
  <div class="flex flex-wrap items-baseline gap-6">
    @for (classKey of getCharacterClassKeys(); track classKey) {
      <div [matTooltip]="classKey" class="flex flex-col items-center">
        <img
          [src]="'assets/characters/' + classKey.toLowerCase() + '_icon.svg'"
          [alt]="classKey + ' icon'"
          class="h-10"
        />
        <span
          class="font-bold text-2xl drop-shadow-lg"
          [ngStyle]="{ 'color': classKey | characterColor }">
          {{ classCount[classKey] }}
        </span>
      </div>
    }
  </div>
}
