<div *ngIf="currentGuild$() as guild" class="p-4 flex flex-col gap-4">

  <mat-card class="shadow-lg rounded-lg">
    <app-guild-header
      [hidden]="loading"
      [guild]="guild"
      [currentUser]="currentUser$()!"
      [pendingMembershipRequestsCount]="pendingMembershipRequestsCount$()"
      (showMembershipRequests)="onOpenPendingMembershipRequests()"
    />

    <app-guild-members-table
      [hidden]="loading"
      [members]="guild.members"
      [currentUser]="currentUser$()!"
      (roleUpdated)="updateRole($event)"
      (memberRemoved)="removeMember($event)"
    />

    <div *ngIf="loading" class="custom-shadow">
      <mat-spinner color="accent" diameter="50" class="mx-auto min-h-[11.75rem]"></mat-spinner>
    </div>
  </mat-card>

  <div *ngIf="!loading" class="flex flex-col gap-3">
    <div class="flex justify-between">
      <div class="text-2xl font-bold">Alliances</div>

      <div class="flex items-center gap-3">
        <button
          *ngIf="hasRequiredRole(currentUser$()?.role!, UserRoleEnum.OFFICER) && currentUser$()?.guild!.id === guild.id"
          (click)="onOpenPendingAllianceRequests()"
          mat-raised-button
          [matBadge]="pendingAllianceRequestsCount$()"
          [matBadgeHidden]="pendingAllianceRequestsCount$() === 0"
          matBadgeColor="warn"
          color="accent">
          Demandes d'alliance
        </button>
        <button
          *ngIf="hasRequiredRole(currentUser$()?.role!, UserRoleEnum.LEADER) && currentUser$()?.guild!.id === guild.id"
          (click)="onOpenGuildSelection()"
          [disabled]="guild.allies.length > 2"
          mat-raised-button
          color="primary"
          [matBadge]="guildsForAlliance$().length"
          matBadgeColor="primary">
          Trouver une alliance
        </button>
      </div>
    </div>

    <div *ngIf="!loading" class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <app-alliance-card *ngFor="let ally of guild.allies" [guild]="ally"/>
    </div>
  </div>
</div>
