<div class="flex flex-col gap-4">

  @if (averageMemberLevel(); as averageMemberLevel) {
    <div class="text-lg text-gray-800">
      Niveau moyen des membres : <span class="font-bold">{{ averageMemberLevel }}</span>
    </div>
  }

  @if (classCount(); as classCount) {
    <p-divider/>
    <app-class-count [classCount]="classCount"/>
  }

  @if (eventStats(); as eventStats) {
    <p-divider/>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="p-4 text-center border rounded-lg shadow-sm bg-amber-50">
        <div class="text-sm text-gray-600">Événements / Semaine</div>
        <div class="text-amber-600 font-bold text-2xl">{{ eventStats.averageEventsPerWeek }}</div>
      </div>

      <div class="p-4 text-center border rounded-lg shadow-sm bg-indigo-50">
        <div class="text-sm text-gray-600">Événements / Mois</div>
        <div class="text-indigo-600 font-bold text-2xl">{{ eventStats.averageEventsPerMonth }}</div>
      </div>

      <div class="p-4 text-center border rounded-lg shadow-sm bg-emerald-50">
        <div class="text-sm text-gray-600">Total Événements</div>
        <div class="text-emerald-600 font-bold text-2xl">{{ eventStats.totalEvents }}</div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-{{ getEventTypesKeys().length }} gap-4">
      @for (eventTypeKey of getEventTypesKeys(); track eventTypeKey) {
        <div class="p-4 text-center border rounded-lg shadow-sm bg-gray-50">
          <div class="text-sm text-gray-600">{{ eventTypeKey | titlecase }}</div>
          <div class="text-gray-700 font-bold text-2xl">
            {{ eventStats.totalEventsByType[eventTypeKey] || 0 }}
          </div>
        </div>
      }
    </div>
  }

</div>
