<div class="relative w-full max-h-[300px] bg-cover bg-center p-6 rounded-lg shadow-md filter-container">
  <form (ngSubmit)="onSearchGuilds()" [formGroup]="searchForm" class="flex flex-col gap-4 w-full h-full">
    <div class="flex flex-wrap gap-4 justify-start">

      <input pInputText formControlName="name" placeholder="Nom de la guilde"/>

      <p-inputNumber formControlName="minAverageLevel" placeholder="Niv. moyen des membres minimum" min="0"
                     max="200" styleClass="w-[15rem]" inputStyleClass="w-[15rem]"/>
    </div>

    <div class="flex justify-end mt-4">
      <p-button label="Réinitialiser" icon="pi pi-refresh"
                type="button" severity="danger" (click)="resetSearchForm()" class="mr-4" rounded/>
      <p-button icon="pi pi-search" label="Rechercher" type="submit" [disabled]="searchForm.invalid"
                rounded/>
    </div>
  </form>
</div>

@if (guildsResults()!.length > 0 && guildsResults(); as guilds) {
  <div class="mt-6 flex flex-col gap-2">
    @for (guild of guilds; track guild.id) {

      <div [routerLink]="['/registry/guild', guild.id]"
           class="relative h-20 flex border-b border-b-secondary cursor-pointer
        items-center justify-between p-4 bg-white overflow-hidden rounded-lg shadow-md">
        @if (guild.logo) {
          <img [src]="guild.logo" alt="Guild logo" class="w-24 h-24 object-cover absolute -left-[2rem] opacity-20 z-0"/>
        }
        <div class="flex items-center gap-4 z-10">
          <div class="w-16 h-16 rounded-full bg-white shadow-md flex items-center justify-center">
            @if (guild.logo) {
              <img [src]="guild.logo" alt="Guild Icon" class="w-14 h-14 rounded-full object-cover no-select no-copy">
            }
          </div>

          <div class="grid grid-cols-2 gap-x-2">
            <div class="w-[10rem] font-semibold">{{ guild.name }}</div>

            <div class="flex items-center">
              <i class="pi pi-crown text-yellow-500 mr-1"></i>
              <div class="content-base text-base">{{ guild.leaderUsername }}</div>
            </div>

            <div class="text-base">
              {{ guild.membersCount }} membre{{ guild.membersCount > 1 ? 's' : '' }}
              inscrit{{ guild.membersCount > 1 ? 's' : '' }}
            </div>

            <div class="text-base">
              Niveau moyen : {{ guild.averageLevel }}
            </div>
          </div>
        </div>

        <p-button label="Détails" icon="pi pi-eye" [routerLink]="['/registry/guild', guild.id]"
                  rounded text severity="secondary"/>
      </div>

    }

    @if (paginationData(); as paginationData) {
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="page"
        [rows]="paginationData.perPage"
        [totalRecords]="paginationData.total"
      />
    }

  </div>
} @else if (!searchForm.invalid) {
  <div class="mt-6 text-center text-gray-400">
    Aucune guilde trouvée
  </div>
}

