<div class="flex items-center justify-between p-4 bg-white shadow mb-4">
  <div class="flex items-center">
    <div class="w-16 h-16 rounded-full bg-gray-200 flex items-center justify-center mr-4">
      <img [src]="allianceRequest.requesterGuild?.logo" alt="{{ allianceRequest.requesterGuild?.name }} Logo"
           class="w-full h-full object-cover">
    </div>
    <div>
      <div class="text-xl font-bold">{{ allianceRequest.requesterGuild?.name }}</div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-1">
        <div class="text-sm text-gray-500">
          Niveau : {{ allianceRequest.requesterGuild?.level }}
        </div>
        <div class="text-sm text-gray-500">
          Niveau moyen : {{ allianceRequest.requesterGuild?.averageLevelOfMembers }}
        </div>
        <div class="text-sm text-gray-500">
          Meneur : {{ allianceRequest.requesterGuild?.leaderUsername }}
        </div>
        <div class="text-sm text-gray-500">
          Membres inscrits : {{ allianceRequest.requesterGuild?.memberCount }}
        </div>
      </div>

    </div>
  </div>

  <div class="flex space-x-2">
    <p-button (click)="onAcceptRequest()" severity="success" rounded outlined
              [disabled]="currentGuild()?.allies!.length >= 3 || allianceRequest.requesterGuild!.allyCount >= 3"
              pTooltip="Accepter la demande d'alliance."
              icon="pi pi-check"
              label="Accepter"
    />
    <p-button (click)="onDeclineRequest()" severity="danger" rounded outlined
              pTooltip="Refuser la demande d'alliance."
              icon="pi pi-times"
              label="Refuser"
    />
  </div>
</div>
