$fontFamily: 'Nunito', sans-serif;

$fontSize: 1rem;

$fontWeight: normal;

$textColor: $textColor;
$textSecondaryColor: $textColor;


$highlightBg: $primaryColor;
$highlightTextColor: $textColor;
$highlightFocusBg: rgba($primaryColor, .24) !default;

$borderRadius: 10rem;

$transitionDuration: .2s;

$formElementTransition: background-color $transitionDuration, color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;
$actionIconTransition: background-color $transitionDuration, color $transitionDuration, box-shadow $transitionDuration;
$listItemTransition: background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;


$primeIconFontSize: 1rem;

$divider: 1px solid #dee2e6;

$inlineSpacing: .5rem;

$disabledOpacity: .8;

$maskBg: rgba(0, 0, 0, 0.4);

$loadingIconFontSize: 2rem;

$errorColor: #f44336;
$focusOutlineColor: #bfd1f6;

$focusOutline: 0 none;
$focusOutlineOffset: 0;

$inputFocusOutlineOffset: $focusOutlineOffset;

$focusShadow: 0 0 0 0.2rem $focusOutlineColor;

$actionIconWidth: 2rem;

$actionIconHeight: 2rem;

$actionIconBg: transparent;

$actionIconBorder: 0 none;
$actionIconColor: $textSecondaryColor;

$actionIconHoverBg: #e9ecef;

$actionIconHoverBorderColor: transparent;

$actionIconHoverColor: $textColor;

$actionIconBorderRadius: 50%;

$scaleSM: 0.875;

$scaleLG: 1.25;
