<div class="flex flex-col h-full">
  <app-header class="flex-none"/>
  <app-main-menu
    (toggleNotifications)="toggleNotifications()"
    [notificationsCount]="unreadNotificationsCount()"
    class="flex-none"
  />

  <div class="h-full flex flex-grow relative overflow-hidden">
    <div class="h-full flex flex-grow relative overflow-hidden body-background">

      <div [@routeAnimations]="isFirstNavigation ? 'fadeIn' : prepareRoute(outlet)"
           class="h-full flex-grow overflow-x-hidden no-scrollbar">
        <router-outlet #outlet="outlet"/>
      </div>

      <p-sidebar
        (onHide)="toggleNotifications()"
        [visible]="showNotifications()"
        position="right">
        <ng-template pTemplate="header">
          <span class="font-semibold text-xl">Notifications</span>
        </ng-template>
        <app-notifications/>
      </p-sidebar>

    </div>
  </div>
</div>
