<div class="relative w-full max-h-[300px] bg-cover bg-center p-6 rounded-lg shadow-md filter-container">
  <form (ngSubmit)="onSearchUsers()" [formGroup]="searchForm" class="flex flex-col gap-4 w-full h-full">
    <div class="flex flex-wrap gap-4 justify-start">
      <mat-form-field appearance="fill" class="max-w-[18.75rem] flex-1 bg-white opacity-90 rounded">
        <mat-label>Pseudo</mat-label>
        <input formControlName="username" matInput placeholder="Pseudo"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="max-w-[18.75rem] flex-1 bg-white opacity-90 rounded">
        <mat-label>Classe</mat-label>
        <input [matAutocomplete]="classesAuto" formControlName="characterClass" matInput placeholder="Classe"/>
        <mat-autocomplete #classesAuto="matAutocomplete">
          @for (characterClass of characterClasses | sortAlphabetically; track characterClass) {
            <mat-option [value]="characterClass">
              {{ characterClass }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" class="max-w-[18.75rem] flex-1 bg-white opacity-90 rounded">
        <mat-label>Niveau</mat-label>
        <input formControlName="characterLevel" matInput max="200" min="0" placeholder="Niveau" type="number"/>
      </mat-form-field>
    </div>

    <div class="flex flex-wrap gap-4 justify-start">
      <mat-form-field appearance="fill" class="max-w-[18.75rem] flex-1 bg-white opacity-90 rounded">
        <mat-label>Métier</mat-label>
        <input [matAutocomplete]="jobsAuto" formControlName="jobName" matInput placeholder="Métier"/>
        <mat-autocomplete #jobsAuto="matAutocomplete">
          @for (job of jobs | sortAlphabetically; track job) {
            <mat-option [value]="job">
              {{ job }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      @if (searchForm.get('jobName')?.value; as jobName) {
        @if (isValidJobName(jobName)) {
          <mat-form-field appearance="fill" class="max-w-[18.75rem] flex-1 bg-white opacity-90 rounded">
            <mat-label>Niveau du métier</mat-label>
            <input formControlName="jobLevel" matInput placeholder="Niveau du métier" type="number" min="0" max="100"/>
          </mat-form-field>
        }
      }
    </div>

    <div class="flex justify-end mt-4">
      <button [disabled]="searchForm.invalid" color="primary" mat-raised-button type="submit">
        Rechercher
      </button>
    </div>
  </form>
</div>


@if (usersResults()!.length > 0 && usersResults(); as users) {
  <div class="mt-6 flex flex-col gap-2">
    @for (user of users; track user.id) {
      <div [routerLink]="['/registry/user', user.username]"
           class="p-4 bg-gray-100 rounded-lg cursor-pointer shadow-md">
        <h3>{{ user.username }} ({{ user.characterClass }})</h3>
        <p>Niveau : {{ user.characterLevel }}</p>
      </div>
    }

    @if (paginationData(); as paginationData) {
      <mat-paginator
        (page)="onPageChange($event)"
        [length]="paginationData.total"
        [pageIndex]="paginationData.currentPage - 1"
        hidePageSize
        [pageSize]="paginationData.perPage"
        showFirstLastButtons
      >
      </mat-paginator>
    }
  </div>
} @else if (!searchForm.invalid) {
  <div class="mt-6 text-center text-gray-400">
    Aucun résultat trouvé.
  </div>
}
