<mat-card-content class="p-0">
  <table [dataSource]="dataSource" class="min-w-full divide-y divide-gray-300" mat-table>
    <ng-container matColumnDef="username">
      <th *matHeaderCellDef class="w-1/5 p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Nom</th>
      <td *matCellDef="let member"
          [ngClass]="{'bg-yellow-100': member.id === currentUser.id, 'font-bold': member.role === UserRoleEnum.LEADER}"
          class="p-3 text-sm text-gray-700 whitespace-nowrap"
          mat-cell>
        <a [routerLink]="['/profile', member.username]"> {{ member.username }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="characterClass">
      <th *matHeaderCellDef class="w-1/5 p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Classe</th>
      <td *matCellDef="let member" class="p-3 text-sm text-gray-700 whitespace-nowrap" mat-cell>
        <div class="flex flex-row items-center space-x-2">
          <img [src]="member | characterIcon" alt="Character Icon" height="20" width="20">
          <div>{{ member.characterClass }}</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="characterLevel">
      <th *matHeaderCellDef class="w-1/5 p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Niveau</th>
      <td *matCellDef="let member" class="p-3 text-sm text-gray-700 whitespace-nowrap"
          mat-cell>{{ member.characterLevel }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th *matHeaderCellDef class="w-1/5 p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Rôle</th>
      <td *matCellDef="let member"
          [ngClass]="{'text-red-500': member.role === UserRoleEnum.LEADER, 'text-purple-500': member.role === UserRoleEnum.OFFICER}"
          class="p-3 text-sm text-gray-700 whitespace-nowrap"
          mat-cell>
        {{ member.role }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="w-1/5 p-3 text-left text-sm font-semibold text-gray-700" mat-header-cell>Actions</th>
      <td *matCellDef="let member" class="p-3 space-x-2 text-sm text-gray-700 whitespace-nowrap" mat-cell>
        <button (click)="updateRole(member, UserRoleEnum.OFFICER)" *ngIf="enableUpGradeAction(member)" color="accent"
                mat-icon-button>
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button (click)="updateRole(member, UserRoleEnum.MEMBER)" *ngIf="enableDownGradeAction(member)" color="primary"
                mat-icon-button>
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button (click)="removeMember(member)" *ngIf="enableRemoveMemberAction(member)" color="warn" mat-icon-button>
          <mat-icon class="text-red-500">block</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" class="bg-primary" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [length]="guild()!.members.length" [pageSizeOptions]="[10, 20, 50]" hidePageSize pageSize="10"
                 showFirstLastButtons></mat-paginator>
</mat-card-content>
