<p-table
  [value]="sortedMembers()"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]"
  styleClass="p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="w-1/5">Nom</th>
      <th class="w-1/5">Classe</th>
      <th class="w-1/7">Niveau</th>
      <th class="w-1/7">Rôle</th>
      @if (isCurrentGuild && hasRequiredRole(currentUser.role, UserRoleEnum.OFFICER)) {
        <th class="w-1/4">Actions</th>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-member>
    <tr>
      <td>
        <a [routerLink]="['/registry/user', member.username]">{{ member.username }}</a>
      </td>
      <td>
        <div class="flex flex-row items-center space-x-2">
          <img [src]="member | characterIcon" alt="Character Icon" height="20" width="20">
          <div>{{ member.characterClass }}</div>
        </div>
      </td>
      <td>{{ member.characterLevel }}</td>
      <td
        [ngClass]="{
          'text-red-500': member.role === UserRoleEnum.LEADER,
          'text-purple-500': member.role === UserRoleEnum.OFFICER
        }"
      >
        {{ member.role }}
      </td>
      @if (isCurrentGuild && hasRequiredRole(currentUser.role, UserRoleEnum.OFFICER)) {
        <td class="flex items-center space-x-1 justify-center" style="min-height: 36px;">
          @if (enableUpGradeAction(member)) {
            <p-button
              icon="pi pi-arrow-up"
              (click)="updateRole(member, UserRoleEnum.OFFICER)"
              severity="success"
              text
              rounded
              styleClass="p-button-sm p-button-icon-only"
            ></p-button>
          }
          @if (enableDownGradeAction(member)) {
            <p-button
              icon="pi pi-arrow-down"
              (click)="updateRole(member, UserRoleEnum.MEMBER)"
              severity="warning"
              text
              rounded
              styleClass="p-button-sm p-button-icon-only"
            ></p-button>
          }
          @if (enableRemoveMemberAction(member)) {
            <p-button
              icon="pi pi-ban"
              (click)="removeMember(member)"
              severity="danger"
              text
              rounded
              styleClass="p-button-sm p-button-icon-only"
            ></p-button>
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
