<div
  [routerLink]="guild.id === currentUser()!.guild.id ? ['/guild'] : ['/registry/guild', guild.id]"
  class="h-full flex flex-col items-center justify-between bg-white p-6 border border-info rounded-lg cursor-pointer
         hover:shadow-lg transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105"
>
  <div class="flex flex-col items-center text-center mb-4">
    <div class="w-20 h-20 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden mb-3 shadow-sm">
      <img [src]="guild.logo" alt="{{ guild.name }} Logo" class="w-full h-full object-cover"/>
    </div>
    <div class="text-xl font-semibold mb-1 text-primary">{{ guild.name }}</div>
  </div>

  <div class="flex flex-col items-center gap-2">
    <div class="text-gray-500 flex items-center gap-2">
      <i class="pi pi-shield text-green-500"></i>
      <span>Niveau : {{ guild.level }}</span>
    </div>
    <div class="text-gray-600 mt-1 flex items-center gap-2">
      <i class="pi pi-crown text-yellow-500"></i>
      <span>Meneur : {{ guild.leaderUsername }}</span>
    </div>

    <div class="grid grid-cols-2 gap-4 mt-3">
      <div class="text-center">
        <div class="text-gray-500">Membres</div>
        <div class="font-semibold text-base">{{ guild.memberCount }}</div>
      </div>
      <div class="text-center">
        <div class="text-gray-500">Niveau Moyen</div>
        <div class="font-semibold text-base">{{ guild.averageLevelOfMembers }}</div>
      </div>
    </div>
  </div>

  @if (canDissolveAlliance) {
    <p-button
      (click)="$event.stopPropagation(); dissolveAlliance()"
      label="Dissoudre l'alliance"
      icon="pi pi-times-circle"
      class="mt-4"
      severity="danger"
      rounded
    />
  }
</div>
