<div [routerLink]="['/registry/guild', guild.id]"
     class="relative h-24 flex cursor-pointer
        border-l-2 border-b-2 border-pink-100 border-l-pink-200 border-b-pink-500
        items-center justify-between px-2 py-4 bg-white overflow-y-hidden rounded-lg shadow-md">
  @if (guild.logo) {
    <img [src]="guild.logo" alt="Guild logo" class="w-24 h-24 object-cover absolute -left-[2rem] opacity-20 z-0"/>
  }
  <div class="flex items-center gap-2 z-10">
    <div class="w-16 h-16 rounded-full bg-white shadow-md flex items-center justify-center">
      @if (guild.logo) {
        <img [src]="guild.logo" alt="Guild Icon" class="w-14 h-14 rounded-full object-cover no-select no-copy">
      }
    </div>

    <div class="flex flex-col gap-1">
      <div class="font-semibold">{{ guild.name }}</div>

      <div class="flex items-center">
        <i class="pi pi-crown text-yellow-500 mr-1"></i>
        <div class="content-base text-base">{{ guild.leaderUsername }}</div>
      </div>

    </div>
  </div>

  <p-button
    label="Détails"
    icon="pi pi-eye"
    [routerLink]="['/registry/guild', guild.id]"
    rounded
    text
    severity="secondary"
    styleClass="w-auto"
    class="absolute bottom-2 right-2"
  />

  @if (canDissolveAlliance) {
    <p-button
      (click)="$event.stopPropagation(); dissolveAlliance()"
      icon="pi pi-times-circle"
      severity="danger"
      rounded
      text
      styleClass="w-auto"
      class="absolute top-2 right-2"
    />
  }

</div>

